[2017-11-01 14:14] jfkirk opened #1 "Python 2.7 Compatibility"
1. Implement 2.7 compat using Six
2. Build and distribute

[2017-11-01 14:44] mkoryak commented on #1
You need more issues. You need labels too!

[2017-11-01 14:46] jfkirk commented on #1
Issue 2: Add issue 3

[2017-11-01 14:50] jfkirk commented on #1
Py2.7 is compatible now with version 0.11

[2017-11-01 14:50] #1 closed

[2017-11-14 16:20] jfkirk opened #2 "Implement WMRB"
Paper: http://ceur-ws.org/Vol-1905/recsys2017_poster3.pdf

Suggestion from Saúl Vargas @saulvargas

[2017-11-14 22:42] saulvargas commented on #2
Hi!

In addition to removing the |Y|/|Z| term in Eq. 4 in the paper, the other trick I did was disregarding the I(y' \in \hat{y}) term in the same formula as, in practice, it rarely takes the value of 0 (for sparse datasets with large number of items, naturally). That should make the implementation a piece of cake. I also observed that a value of |Z| = 10 gives quite good performances, although th

[2017-11-29 15:24] jfkirk opened #3 "Implement NDCG"
https://en.wikipedia.org/wiki/Discounted_cumulative_gain

[2017-11-29 15:48] jfkirk opened #4 "Implement TFRecords/Dataset as input"
CC: @jcauteru

[2018-01-22 11:46] umang-01 opened #5 "Implement WARP and BPR losses"
Hi,

Extremely thankful to you to implement LightFM on tensorflow. I was wondering if you have any plans to implement WARP and/or BPR losses anytime soon?

[2018-01-22 11:47] umang-01 commented on #2
Any updates on this?

[2018-01-23 21:44] jfkirk commented on #2
Hey @umang-01 - diving in to this today, will update with in the week.

[2018-01-25 03:50] jfkirk commented on #2
I added WMRB loss: https://github.com/jfkirk/tensorrec/commit/2efc01e083f6e7473b6bd84d17547ac38ae22833

I experiment with-and-without the final logarithm step and got much better results without the logarithm, so I left it commented out.

[code]
(0.19826102103939364, 0.011927194860813705) # RMSE
(0.21846470208354574, 0.012805139186295503) # Separation
(0.23483778593521634, 0.013693790149892934) #

[2018-01-25 03:53] #2 closed

[2018-01-25 06:45] umang-01 commented on #2
@jfkirk Thanks a ton for the quick help. 👍

[2018-01-29 21:17] mmmmming18 opened #6 "Values in interaction matrix"
Hi jfkirk, thanks for the hard work!

The values in the interaction matrix have to be in (-1, 0, 1) or they can be any integer numbers?

[2018-01-30 15:26] jfkirk commented on #6
Hey @mmmmming18 ! It depends on the loss function you plan to use.

If you use `rmse_loss`, any float or integer values will work -- TensorRec will function as a regressor and attempt to estimate those values directly.

If you use `separation_loss`, any float or integer value will work but any information besides positive/negative will be lost as this loss function simply treats interactions as po

[2018-01-30 15:34] jfkirk commented on #6
Pushed https://github.com/jfkirk/tensorrec/commit/710b692df48c7e5256f22901f289ec1c27a021d1 -- closing this issue for now.

[2018-01-30 15:34] #6 closed

[2018-01-30 16:45] mmmmming18 opened #7 "big data out of memory"
The model is so easy to get out of memory error if the training data is big. Any suggestion to get around with it? Thanks!

[2018-01-30 16:58] jfkirk commented on #7
That's 80B interactions -- is that data dense, or are most interactions 0? What data type are you using to feed in the interactions?

[2018-01-30 17:09] jfkirk commented on #7
How many are non-zero? I imagine this is where the problem is coming from -- at full density, this matrix would be at least ~320GB.

Also, are the feature values dense or sparse? If sparse, how many of the features are non-zero?

Can you drop the stack trace you're getting, too, just to help me debug? Thanks for taking the time!

[2018-01-30 18:14] mmmmming18 commented on #7
In each row, the average number of non-zero value is about 30 in interaction matrix, 10 in user feature matrix and only 1 in item feature matrix.

The below is the OOM error. I ran it using cpu only.

2018-01-30 10:09:23.212384: W tensorflow/core/framework/op_kernel.cc:1192] Resource exhausted: OOM when allocating tensor with shape[4539556,29101]
Traceback (most recent call last):
  File "<stdin>"

[2018-01-30 18:43] jfkirk commented on #7
Ah, this makes sense. The issue is that the prediction matrix is dense and, even if the loss function doesn't require it, the dense predictions are calculated and the serialized predictions are pulled out of it. I previously had written two separate prediction graphs, one serial and one dense, but at some point I (incorrectly) consolidated down to the one. I'll fix this by re-adding the serial pre

[2018-01-31 05:36] dekdekbaloo opened #8 "How do I save/restore model?"
Hello, I'm pretty new to using both python and tensorflow.

From my basic understanding, there should be a way to serialize the trained model and bring it back to train more later.

As I read through tf's session doc, that might be a way to do it. However, I've looked through `session_management.py` but got no vision of how to achieve this.

Is this possible already? Or, maybe, I missed something?

[2018-02-01 13:04] #5 closed

[2018-02-01 13:29] umang-01 commented on #6
Hi @jfkirk, as per the above explanation for valid values in different loss functions, the model suits well for explicit rating recommendations.
However, if we only have implicit feedback (ie. impressions(Yes/No), product views and, orders), I'm not sure if wmrb_loss or separation_loss could account for this information together. I've read the wmrb paper which states it's benefit for item ranking

[2018-02-01 15:25] jfkirk commented on #6
You should be able to use any of these loss functions with implicit feedback. Once you figure out which of these implicit signals are positive and which are negative, you can use those as interactions.

If some implicit signals are _more_ positive or _more_ negative than others, you will want to use RMSE and figure out what magnitudes are appropriate through experimentation.

[2018-02-01 15:27] jfkirk commented on #8
Hey @dekdekbaloo ! Thanks for checking it out.

`TensorRec` doesn't have any convenience methods for saving and loading models yet -- personally, all my applications of it have been persistent in-memory.

Assigning myself to this ticket to build some convenience methods.

[2018-02-04 02:08] jfkirk commented on #7
Quick update: I've refactored the serial prediction graph so it can handle a larger scale of data without having to do dense prediction. I also had to refactor the dummy data generator to be able to handle this much data.

I'm now testing to see if the new graph can get close to the scale of data you have.

[2018-02-04 04:50] jfkirk commented on #7
I was able to get up to your scale of data and fit a model with RMSE loss.

[code]

[2018-02-04 04:50] #7 closed

[2018-02-04 18:29] jfkirk opened #9 "Name/namespaces for nodes"
Session/graph management will be easier with fully named and namespaced nodes.

[2018-02-04 18:31] jfkirk opened #10 "Refactor graph components to static methods"
Many components of the graph can be taken out of the `_build_tf_graph()` method and moved to static methods containing chunks of logic. These chunks of logic can be more easily unit tested with dummy input.

[2018-02-04 18:45] jfkirk opened #11 "Create Identity Representation Function"
For some applications, users or items are already fully embedded and only one side of the representation needs to be learned. An "identity" representation function would be useful in these cases.

[2018-02-05 04:50] jfkirk commented on #10
Done with https://github.com/jfkirk/tensorrec/commit/2725a3010c471d7aab202bcfa31b48d34814baa5

There may be more opportunities to factor things out in the future.

[2018-02-05 04:50] #10 closed

[2018-02-05 07:35] Composmentis opened #12 "how to export the model?"
Hey James,

It is cool. One quick question, How do we export the model and query it on runtime? Because the best of using user and product feature is that when there is a new user who is not part of training set should also have product scored.

Thanks

[2018-02-05 14:16] jfkirk commented on #12
Hey @Composmentis ! We are still building convenience methods for saving and loading models. We'll be tracking that work on https://github.com/jfkirk/tensorrec/issues/8

I expect that to be merged within the week.

Closing as duplicate

[2018-02-05 14:16] #12 closed

[2018-02-06 09:46] Composmentis commented on #8
Cool and thanks for the response @jfkirk .. Even I tried the same as explained by @dekdekbaloo but was clueless that's why opened it as in issue. Looking forward to knowing how have you handled it.  But it would be helpful elaboration about your thought on this as we can also contribute to the final solution.

[2018-02-06 21:20] jfkirk commented on #8
Great! Once I have a PR up, I'll tag you so you can take a look at how I tackle it and for any feedback you may have.

[2018-02-07 22:51] jfkirk commented on #8
PR for saver/loader methods: https://github.com/jfkirk/tensorrec/pull/13

[2018-02-10 21:31] jfkirk commented on #8
The PR has been merged so I'm closing this issue or now.

[2018-02-10 21:31] #8 closed

[2018-02-22 23:50] jfkirk opened #14 "Reduce default alpha"
High default alpha causes a number of training issues with default graphs.

[2018-02-23 01:18] jfkirk opened #15 "Refactor printing in tensorrec.py to use logging"

[2018-02-23 01:45] jfkirk commented on #15
Done with https://github.com/jfkirk/tensorrec/commit/95f7a4632e823c4d6b60bccd5b5a21a207fc159c

[2018-02-23 01:45] #15 closed

[2018-02-23 03:45] mkoryak opened #16 "Dont use % for format"
I dont know why, but everyone agrees that its bad:

<img width="580" alt="screen shot 2018-02-22 at 10 44 01 pm" src="https://user-images.githubusercontent.com/383817/36576942-0a5e7b84-1822-11e8-8826-bfdab59bf4e6.png">

[2018-02-23 12:51] jfkirk commented on #16
Well, if our most holy commander decrees it...

[2018-02-23 15:17] ewyler opened #17 "Methods should be alphabetized"
How is anyone supposed to find anything?

Your code is like this cat currently:

![image](https://user-images.githubusercontent.com/2191725/36601263-b32ec682-1882-11e8-9d6d-c942e5186c5e.png)

[2018-02-23 15:22] mkoryak commented on #17
Every line of cod should be alphbetized. It might no longer be parsable by a computer, but we all know that cod is not really meant to be read by computers.

[2018-02-23 15:22] mkoryak commented on #14
Also reduce opacity

[2018-02-23 15:24] alexzahn commented on #17
Agreed, this is a sensible request.

[2018-02-23 15:25] alexzahn opened #18 "No"
Thanks

[2018-02-23 15:28] ewyler commented on #18
I agree with this

[2018-02-23 15:41] jfkirk opened #19 "Implement user batching in fit_partial"
Allows for dense loss functions with large numbers of users

[2018-02-23 15:43] jfkirk commented on #17
Following PR#XVIII, all methods have been renamed in cyrillic and alphabetized. Closing for now.

[2018-02-23 15:43] #17 closed

[2018-02-23 15:43] jfkirk commented on #18
User surveying indicates: yes
Closing for now

[2018-02-23 15:43] #18 closed

[2018-02-23 17:44] kevinaltschuler opened #21 "Methods should be De-Alphabetized"
Alphabetization is an arbitrary method of organization that adds nothing and adds unnecessary upkeep to the project.

[2018-02-23 17:53] alexzahn opened #22 "Methods should be ordered by lines of code within those methods"
In cases of the same amount of lines of code, you should default to the order in which you wrote them.

[2018-02-23 17:55] ewyler commented on #22
I think it would be more inline with industry standards to order by the _average age_ of all lines of cod in a given method

[2018-02-23 18:13] jfkirk commented on #21
Алфавитирование - это произвольный метод организации, который ничего не добавляет и добавляет излишнюю поддержку проекту.

[2018-02-23 18:13] #21 closed

[2018-02-23 18:31] jfkirk opened #23 "Group executions during verbose fitting"
Will significantly improve fit performance

[2018-02-23 18:37] jfkirk commented on #22
Merged PR#三四七 which, instead, cuts down all methods to a certain length based on position in the class.
Closing for now.

[2018-02-23 18:37] #22 closed

[2018-02-23 19:14] mkoryak commented on #21
Personally I would have phrased it differently..

[2018-02-23 19:16] mkoryak opened #24 "Methods should be methods"
Don't infringe on personal liberties of methods.

[2018-02-23 22:49] jfkirk commented on #24
The methods exist at the will of the State and if the State says they are properties, then properties they shall be.
Closing for_ever_

[2018-02-23 22:49] #24 closed

[2018-02-24 02:55] jfkirk commented on #14
Opacity and default alpha reduced with https://github.com/jfkirk/tensorrec/commit/8e4db17ccd47f649b333866f23f8ccc09a3774de

[2018-02-24 02:55] #14 closed

[2018-02-24 03:06] jfkirk commented on #16
https://github.com/jfkirk/tensorrec/commit/4ae14fd8deb26865209f7616ede6f8273f9f60f6
Our most holy commander shall be pleased.

[2018-02-24 03:06] #16 closed

[2018-02-24 03:22] jfkirk commented on #23
Fixed in https://github.com/jfkirk/tensorrec/commit/d76386d62104ce4a4247254099478200bd5d8188
Seems to cut verbose fit time in ~half.

[2018-02-24 03:22] #23 closed

[2018-02-25 15:35] jfkirk opened #25 "Unit testing for methods in recommendation_graphs.py"
Now that they're broken out, it should be easy to test-wrap them.

[2018-02-25 15:36] jfkirk opened #26 "Add alignment prediction"
Alignment would be a special case of dense prediction using normalized vectors. It is equivalent to cosine distance between user and item reprs.

[2018-02-25 16:16] jcauteru commented on #26
can close yes?

[2018-02-25 16:16] #26 closed

[2018-02-25 16:17] jcauteru commented on #3
WIP

[2018-02-25 17:26] jcauteru commented on #3
@jfkirk finished the dense version. Going to take some tweaking to work with sparse iteration matrix as input

[2018-02-26 01:35] jfkirk commented on #4
After spinning on this for a while, we realized there isn't a feasible way to do this with the current Dataset API without adding in a large number of file operations, which would be sub-optimal.

[2018-02-26 01:35] #4 closed

[2018-02-27 01:16] jfkirk commented on #19
Added with https://github.com/jfkirk/tensorrec/commit/bb20384bc1cec2634e9c86c93421275e2c24f42b

[2018-02-27 01:16] #19 closed

[2018-02-27 15:53] jfkirk opened #30 "Weight normalization should be applied once per epoch"
...not once per batch. What were you thinking, Jimmy!?

[2018-02-27 15:55] mkoryak commented on #30
Maybe you should stop talking to your self

[2018-02-27 15:55] mkoryak commented on #30
You have issues

[2018-02-27 15:56] jfkirk commented on #30
If I don't talk to myself, who will?

[2018-02-28 23:10] jfkirk opened #32 "API for losses, reprs, and predictions should be the same"
Loss graph, repr graph, and prediction graph args to TensorRec() should be of the same format.

They should all an instance of their respective abstract superclass. This is because, for some custom graph functions, they may be configurable.

[2018-03-01 00:04] jcauteru commented on #3
@jfkirk

[code]

[2018-03-01 00:07] jcauteru commented on #3
some trickery required for the "no relevant example case". I don't see a way around the sort for the scalar case if we want to stick to numpy. `np.argsort` gives the sort slice for the original array NOT the resultant sorted position...moreover it does a sort anyways so.

[2018-03-01 00:09] jcauteru commented on #3
need to add tests for scalar case somehow

[2018-03-01 00:31] jfkirk opened #34 "Add shuffle_batch fit arg"
Came up in https://github.com/jfkirk/tensorrec/pull/31

It would be nice to have an arg to re-order the batches every epoch while fitting.

[2018-03-01 00:39] jfkirk commented on #30
Actually making weight reg only happen once per epoch turned out to be expensive, especially in the case where there is one batch per epoch. This is because it required two separate calls to the tf session every epoch. Instead, we resolved this by having the alpha parameter scale down exponentially based on the number of batches in the epoch.

[2018-03-01 00:39] #30 closed

[2018-03-01 14:17] jfkirk opened #36 "Docstrings for eval methods"
These docstrings are pretty sparse, especially for the args.

[2018-03-01 14:43] jfkirk commented on #32
PR https://github.com/jfkirk/tensorrec/pull/33 will make loss graphs and prediction graphs function on similar APIs. Next up will be repr graphs.

[2018-03-01 15:12] jfkirk opened #37 "Add list of representation, prediction, and loss graphs to README"
Will help people dive in to know whats already built.

[2018-03-01 20:26] jfkirk opened #38 "Add API to retrieve projected user/item biases"
Could be useful to examine item biases, for example.

- [ ] Add `predict_user_bias` and `predict_item_bias` API method to `TensorRec`
- [ ] Add hooks to `projected_user_biases` and `projected_item_biases` in `TensorRec` that can be used by the new API and for saving/loading
- [ ] Add tests for the new prediction methods

[2018-03-01 23:54] jfkirk commented on #25
- [ ] project_biases
- [ ] split_sparse_tensor_indices
- [ ] bias_prediction_dense
- [ ] bias_prediction_serial
- [ ] gather_sampled_item_predictions
- [ ] rank_predictions

[2018-03-02 01:36] jfkirk commented on #25
https://github.com/jfkirk/tensorrec/pull/39

[2018-03-02 01:39] #25 closed

[2018-03-02 18:45] jfkirk commented on #38
@ThoseGrapefruits you expressed interest via Slack -- let me know if you want to take a stab at this!

[2018-03-02 18:47] jfkirk commented on #34
@acconrad you expressed interest via Slack -- let me know if you want to tackle it!

[2018-03-02 18:49] jfkirk commented on #32
Finished with #33 and #41 - closing

[2018-03-02 18:49] #32 closed

[2018-03-02 19:44] ThoseGrapefruits commented on #38
Yep, sounds good!

[2018-03-03 03:47] #3 closed

[2018-03-03 03:48] jcauteru commented on #3
#40

[2018-03-03 20:36] jfkirk commented on #36
https://github.com/jfkirk/tensorrec/commit/3d1aa2b3c76ff596b0e6d89263ac740c29ced44e

[2018-03-03 20:36] #36 closed

[2018-03-03 23:30] jfkirk opened #42 "Add feature row normalization to representation graphs"
Could be useful when density of metadata is inconsistent.

[2018-03-08 17:45] jfkirk commented on #42
Added as a pre-process (instead of in the repr graphs) in https://github.com/jfkirk/tensorrec/pull/43

Closing

[2018-03-08 17:45] #42 closed

[2018-03-08 17:51] jfkirk opened #44 "Modify WMRB to work on serial predictions"
🤦‍♂️

The whole point of WMRB is that it works on a subsample but I went ahead and implemented it by sampling dense predictions, costing huge computation overhead.

Oops.

[2018-03-09 00:18] ThoseGrapefruits commented on #38
Not sure when you’re getting back from 🇸🇪👨‍👩‍👧‍👦🔨 but I have a couple intro questions already:

1. What’s the workflow for setting up the environment and running tests? I’ve been out of the Python environment for too long and all I remember is `pip install -r requirements.txt` and I’m not sure even that is right in this context.
2. Any style requirements? I noticed a 120-char line limit seems stan

[2018-03-10 02:28] jfkirk commented on #44
https://github.com/jfkirk/tensorrec/pull/45

[2018-03-10 18:48] #44 closed

[2018-03-10 18:52] jfkirk commented on #38
Hey @ThoseGrapefruits !

1. After cloning, you should be able to run the tests by stepping through
[code]

2. 120-char line limit is correct (you can find it defined in setup.cfg). Beyond that, if Flake passes I'm probably comfortable with the style. I'm also a big fan of NumPy's commit message standards: https://docs.scipy.org/doc/numpy-1.13.0/dev/gitwash/development_workflow.html

3. Currently T

[2018-03-10 19:33] jfkirk commented on #37
Done

[2018-03-10 19:33] #37 closed

[2018-03-10 20:02] #9 closed

[2018-03-10 21:21] ThoseGrapefruits commented on #38
All sounds good.

I got it working in a virtualenv, but had to use `python -m nose test/` to run tests instead. Anyways, it works, and all 58 tests passed for me. Thanks!

I'll let you know when I have other questions :)

[2018-03-13 15:40] #38 closed

[2018-03-14 17:40] jfkirk opened #47 "Add mixture-of-tastes functionality"
https://arxiv.org/abs/1711.08379

[2018-03-16 16:44] #47 closed

[2018-03-23 16:52] jfkirk opened #50 "Add get_similar_items API method"
Could be useful for generating ranked lists of similar items to power features.

[2018-03-26 19:09] #50 closed

[2018-03-26 19:23] jfkirk opened #52 "`ranks` is unnecessary in predict_similar_items"
cruft cruft cruft

[2018-03-27 16:31] mijamo opened #53 "Documentation: give more info on the input/output"
Hello,

This library seems interesting, however I have a hard time actually using it. I am not quite sure of what the input/output are supposed to be and what is needed to have it working.

For instance I currently have user and items representations, which are both matrices of features. When I run Tensorrec, even with a large number of epoch (ex: 2000) and after training it with interactions betw

[2018-03-27 17:17] jfkirk commented on #53
Hey @mijamo -- this is great feedback, thank you for taking the time!

In general, I think you're absolutely right about the documentation. I'm assigning this to myself to add more.

At a glance, getting very large positive/negative predictions is expected behavior for certain loss functions. Which loss function are you using? Only RMSE loss functions will try to reproduce the input interaction va

[2018-03-28 11:10] mijamo commented on #53
Thank you very much for your additional detail.

My problem right now is that each predicted user representation seem to be more or less equal despite input data being different, to be more precise, if user1 has representation R, all the other users seem to have a representation xR, x being a number between 0 and 10. As a result, all items predictions for the users are always the same, no matter w

[2018-03-28 18:25] jfkirk commented on #53
The algorithm may be having difficulty due to the item features all being nearly parallel. You may get better results by using a multi-layer neural network item repr (you can construct one using AbstractKerasRepr) or, more easily, by normalizing the item features.

For example:
[code]
Yields new item features that are not parallel:
[code]

If you give that a shot, let me know if it works for you!

[2018-04-04 16:32] jfkirk commented on #52
Fixed

[2018-04-04 16:32] #52 closed

[2018-04-09 18:16] jfkirk opened #54 "Add attention for mixture-of-tastes models"
https://arxiv.org/pdf/1704.08424.pdf
https://arxiv.org/pdf/1711.08379.pdf

[2018-04-10 14:48] jfkirk opened #55 "Item similarity should use the prediction graph"
Right now it is implemented as cosine similarity, regardless of the prediction function. Cosine similarity is still meaningful in a dot-product system, but would be meaningless in a euclidian system.

[2018-04-10 19:47] #54 closed

[2018-04-10 19:47] #55 closed

[2018-04-17 13:54] jfkirk opened #57 "load_model() raising ValueError"
Via e-mail from Lukas Brandt Brune:

[code]

[2018-04-17 14:19] jfkirk commented on #57
Reproduced by adding `reset_default_graph` to the saver test
[code]

[2018-04-17 14:57] #57 closed

[2018-04-23 13:58] jfkirk opened #59 "Consume TFRecords or sparse matrices as input"
cc @jcauteru

For training systems at scale, TensorRec should be able to consume TFRecord files as user_features, item_features, and interactions. I think the API should accept those args as:
1. A string path to a directory with many TFRecords.
2. A string path to a single TFRecord file.
3. A file hook to a single TFRecord file.
4. A scipy sparse matrix (the current input).

[2018-05-01 14:12] #59 closed

[2018-05-06 20:34] trenddev opened #62 "How to setup proper environment"
@jfkirk This is a very interesting project. I try to setup my local environment and run some basic example code. I have following installed:
[code]

However, I got following error:

[code]

Any ideas? Thank you!

[2018-05-06 20:58] jfkirk commented on #62
Hey @trenddev ! Thanks for checking it out.

I think your problem is a TensorFlow version mismatch. TensorRec currently runs on TensorFlow 1.7.

You can update all of your requirements by downloading requirements.txt and running:

[code]

Closing for now -- if you run in to more problems, feel free to re-open this issue.

[2018-05-06 20:58] #62 closed

[2018-05-09 14:05] nikisix opened #63 "Importing tests.datasets fails"
On a fresh install of tensorrec and tf
tensorflow==1.8.0
tensorrec==0.25.1

(prototype) examples❯ python plot_movielens.py                                                                                                                          tensorrec/git/master

Traceback (most recent call last):
  File "plot_movielens.py", line 16, in <module>
    from test.datasets import get_movielens_100k
I

[2018-05-09 14:26] jfkirk commented on #63
Hey @nikisix -- try going one level up and running
`PYTHONPATH=. python examples/plot_movielens.py`

That may fail on some example-specific requirements. To get those, run `pip install -r requirements_test.txt`.

Let me know if that works!

Assigning to myself to make requirements/paths more clear.

[2018-05-09 14:42] nikisix commented on #63
(prototype) ❯ PYTHONPATH=.
(prototype) ❯ python examples/plot_movielens.py
Traceback (most recent call last):
  File "examples/plot_movielens.py", line 16, in <module>
    from test.datasets import get_movielens_100k
ImportError: No module named datasets

[2018-05-09 14:45] jfkirk commented on #63
A `PYTHONPATH=.` declaration is scoped to just the one statement. Try putting it all on one line:
`PYTHONPATH=. python examples/plot_movielens.py`

[2018-05-09 14:47] nikisix commented on #63
ok, worked!

[2018-05-09 14:47] jfkirk commented on #63
Great! Let me know if you run in to anything else.

[2018-05-09 14:49] nikisix commented on #63
Any way to get around needing to set path with every execution? I checked and my python path is already set to "."

(prototype) ❯ echo $PYTHONPATH
.

[2018-05-09 14:53] jfkirk commented on #63
If you have IPython, it will handle the PYTHONPATH appropriately without a declaration.
`ipython examples/plot_movielens.py`

[2018-05-09 14:59] #63 closed

[2018-05-09 15:18] jfkirk opened #64 "Clean up requirements"
Requirements should be broken out between main reqs, testing/validation reqs, and reqs for examples.

[2018-05-15 16:27] nikisix commented on #53
One additional documentation request would be elaborating on n_tastes. Is this supposed to ferret out multiple representations for the same user? For instance, in the case when multiple people share a Netflix account?

[2018-05-15 20:47] jfkirk commented on #53
Great suggestion -- I added the mixture of tastes and attention systems after reading this paper: https://arxiv.org/abs/1711.08379

I'll add better documentation for it. It probably also merits a blog post outlining the thinking.

[2018-05-21 10:03] sujit420 opened #65 "getting error while running test_movielens.py"
I am not able to execute test_movielens.py as I am getting below error:
Error
Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/unittest/case.py", line 331, in run
    testMethod()
  File "/Users/sujitmishra/tensorrec/test/test_movielens.py", line 26, in test_movie_lens_fit
    epochs=5)
  File "/Users/sujitmishra/tensorrec/tensorrec/

[2018-05-21 14:22] jfkirk commented on #65
Hi @sujit420 -- This error comes from a TensorFlow version mismatch. TensorRec is built on TensorFlow 1.7.0 (right now). Try updating your TensorFlow version, and this error should go away.

I'm closing this issue for now. If this doesn't fix your problem, please re-open it.

[2018-05-21 14:22] #65 closed

[2018-05-22 01:55] jamesmgg opened #66 "AttributeError: 'Iterator' object has no attribute '_output_classes'"
[code]

Is this some weirdness happening because I'm running this on Python 2.7.10?

[2018-05-22 12:33] jfkirk commented on #66
Hey @jamesmgg -- this issue is a result of a TensorFlow version mismatch. TensorRec was built on TensorFlow 1.7.0. Try updating your TF version and this error should go away.

Closing for now. If this issue persists, please re-open it.

[2018-05-22 12:33] #66 closed

[2018-05-22 21:22] borisrev commented on #12
Hi James,

I'm still unclear on @Composmentis 's initial question, i.e. how does saving/loading models enable feeding a previously unseen user to an already trained model with tensorrec?

Thanks!

[2018-05-22 21:44] jfkirk commented on #12
Hey @borisrev -- A user is simply a collection of feature values, so a TensorRec does not know or care if it has seen the user in training.

I interpreted the initial question to mean "I have trained a TensorRec model and saved it. In the future, I will want to load it and get predictions for new users." The missing link, at the time of the initial question, is that TensorRec did not have methods

[2018-05-22 22:09] borisrev commented on #12
Let's say you're using an identity matrix for the user matrix when training as in the MovieLens example. After training, if you want to pass a new user to predict() along with same item_features used in training, what dimensions would then be appropriate for the new user_features matrix? A row of all 0s with the same number of columns as the user matrix used during training?

[2018-05-22 22:17] jfkirk commented on #12
Ahh sorry I was unclear -- A TensorRec model does not know or care if it has seen the user in training _unless_ the system is built with "Indicator Features". In the scenario you've outlined, the identity matrix for users is a set of indicator features, so all users will need to be present at fit() time.

The number of user/item features must be the same both at fit() and predict() time.

The coun

[2018-05-24 15:51] borisrev opened #67 "get_book_crossing crashes"
I believe all relevant packages are up to date running on python 3.6.5

[2018-05-24 16:50] jfkirk commented on #67
Hey @borisrev ! Thanks for reporting. Can you confirm for me which version of scikit-learn you are currently running? I'll try to reproduce on my end.

[2018-05-24 18:19] borisrev commented on #67
0.19.1

Thanks for all the great work on tensorrec and your attention on this!

[2018-05-24 18:35] jfkirk commented on #67
Also thanks for the kind words :)

[2018-06-01 23:43] rragundez opened #68 "Equal recommendations for same user features with different actions"
I think that with the described architecture a user with the same features but different actions will receive the same recommendations, is this correct?

I understand that there is a use case for this, but I just want to get things clear in my understanding.

The only possibility I see is creating a model per user using his/her specific actions.

Have you think about how to overcome this?

[2018-06-02 22:44] jfkirk commented on #68
Hey @rragundez ! Could you clarify for me what you mean by "different actions"? Would would some examples of different actions be?

I'm glad you're interested!

[2018-06-02 23:39] rragundez commented on #68
So, suppose I have two users which both are vegetarians, same age, like music etc. same preferences, same user features, but they have interacted with my content items differently. Since the actions get ingested in training time only for the loss function, at inference/prediction time both users get treated equally (since their features are the same)

[2018-06-02 23:47] jfkirk commented on #68
Much clearer, thank you!

In this case, you could provide personalization by adding an "indicator feature" - a one-hot-encoded feature that is unique to each user. Practically, I do this by appending an identity matrix (n_users, n_users) to my user metadata matrix.

You can read a bit more about using indicator features in a recommender system in section 2.3 of this paper: https://arxiv.org/pdf/15

[2018-06-02 23:57] rragundez commented on #68
I thought about that initially and I came up with a reason of why not to do it, but lost it now. Let me get back to you, I'll take a look at the paper, thanks a lot!

Another question, in your experience with this how many user features and items features and actions would I need to get good results?

[2018-06-03 00:06] rragundez commented on #68
Wouldn't it be a problem that for example if I have 100,000 users and let's say only 10 user features? Seems to me that this would be a problem when calculating the embeddings.

[2018-06-03 04:42] ryancat commented on #53
Here is an example using RMSE to bound the prediction. https://stackoverflow.com/questions/33846069/how-to-set-rmse-cost-function-in-tensorflow

[2018-06-03 16:44] rragundez opened #69 "Document the difference with the LightFM package"
I'm missing what is the difference  from https://github.com/lyst/lightfm
and for which cases I would use tensorrec instead of lightfm

[2018-06-04 13:01] jfkirk commented on #68
The only issue with a large number of indicator features is the size of embeddings in memory. That said, I've routinely built systems with 4mm+ users with indicator features and metadata features without problems.

[2018-06-04 13:06] jfkirk commented on #69
LightFM and TensorRec are very similar -- LightFM was the inspiration for TensorRec and I've used LightFM extensively.

The difference comes from the ability to build and customize your representation, prediction, and loss functions in TensorRec. If you build a TensorRec model with linear embedding representations and dot-product prediction, they're equivalent algorithms. In fact, if you're doing

[2018-06-04 13:06] #69 closed

[2018-06-04 13:45] rragundez commented on #68
great thanks! I'll try it out.

[2018-06-04 13:45] #68 closed

[2018-06-04 13:47] rragundez commented on #69
what do you mean with linear embeddings representations?

[2018-06-04 14:06] jfkirk commented on #69
The "representation" function is responsible for calculating a latent representation of the user based on the user's features.

In this diagram, it is the `user_repr_graph` in the top left: https://raw.githubusercontent.com/jfkirk/tensorrec/master/examples/system_diagram.png

The representation graphs which are available by default are here: https://github.com/jfkirk/tensorrec/wiki/Representation-

[2018-06-04 14:53] jfkirk commented on #67
Hey @borisrev -- I've updated the scikit dependency and hacked around the LabelBinarizer changes in 0.19.1: https://github.com/jfkirk/tensorrec/commit/b6caaca984068a352142d7c14f7c84c22f503a94

This will go out with the next release.

Closing for now -- let me know if you run in to anything else!

[2018-06-04 14:53] #67 closed

[2018-06-14 10:21] renepickhardt opened #70 "Example not working: AttributeError: module 'tensorflow' has no attribute 'data'"
For reproducability: I have a clean Anaconda installation and successfully installed tensorflow and tensorrec in the following way via python3.6 in jupyter:
[code]

next I did
[code]
Both seemed to have worked fine. however running the example from git I get the following stack trace:

[code]
This is strange because according to the tensorflow doc this should work (c.f.: https://www.tensorflow.org

[2018-06-14 12:56] jfkirk commented on #70
@renepickhardt We've merged your PR and I've done a patch release (0.25.3) that includes your version checking. Do you think there is anything outstanding for this issue, or is it ready to close?

[2018-06-14 13:00] renepickhardt commented on #70
I have just closed it. I made it so extensive because I think hackers google stuff and if people run into problems this could be helpful. but google should also display closed issues (:

the only thing that could also be included is the dependencies of tensorflow in the readme. but I guess with version checking now everything should be fine

[2018-06-14 13:00] #70 closed

[2018-06-21 15:53] jfkirk opened #72 "Missing test coverage for dot product prediction"
https://github.com/jfkirk/tensorrec/blob/master/test/test_prediction_graphs.py

Should test some specific input/outputs.

[2018-06-22 17:19] vladimir-sevastyanov opened #73 "Example application check_movielens_losses.py fails when I run it"
When I run the code in check_movielens_losses.py or any other example application, I see the same error message--see the stack trace below:
[code]

 **pip freeze:**
[code]

[2018-06-22 18:38] jfkirk commented on #73
Thanks @vladimir-sevastyanov ! Looking at the number of packages in your Python environment, I'd wager that the problem is an unexpected interaction between packages - but that's just a suspicion. I'll try to reproduce.

[2018-06-26 15:39] vladimir-sevastyanov opened #74 "Low average precision value"
I have a dataset with 12000 users and 500 items, and I used it to build a recommender model by different approaches. With user based collaborative filtering I have precision=0.1, with content based model precision=0.45. I expected to increase the precision value with TensorFlow by obvious reasons, but precision=0.0013, which does not make any sense.
I tried your basic_usage code, which generates r

[2018-06-26 16:04] vladimir-sevastyanov commented on #74
I used your function get_book_crossing() as a prototype to load and convert the data in proper format--I just adjusted your code for my set of data.. So, I hope the data I use to fit the recommender model is valid.

[2018-06-26 16:59] jfkirk commented on #74
Hey @vladimir-sevastyanov : What models are you using for the collaborative filters, and what methods are you using to calculate precision (both with the collaborative filter and with TensorRec)?

Can you paste a code snippet of the TensorRec model you're using?

[2018-06-26 19:54] vladimir-sevastyanov commented on #74
This is my code:

import numpy as np
import tensorrec
from tensorrec.eval import fit_and_eval, eval_random_ranks_on_dataset

from dataLoad.datasets import get_data #, get_book_crossing

train_interactions, test_interactions, user_features, product_features = get_data(min_positive_score=1,
                                                                                  min_interactions_per_product

[2018-06-26 19:57] vladimir-sevastyanov commented on #74
**That's the code to convert the data:**

def get_data(min_positive_score=2, min_interactions_per_product=2, user_indicators=False, item_indicators=False,
                      cold_start_users=False, cold_start_items=False):

    ratings = []
    with open('C:/temp/RecommenderSystems/tensorrec-master/data/interactions.csv', 'rb') as ratings_file:
        ratings_lines = ratings_file.readlines()

[2018-06-26 20:01] jfkirk commented on #74
@vladimir-sevastyanov The data-conversion code looks okay to me -- I didn't notice any immediate issues.

I'm confused re: your precision concern. You said before that you had k=1000, but in this code k=6. When you received a precision value of .0013, what was your K value?

[2018-06-26 20:05] vladimir-sevastyanov commented on #74
I experimented with different K values, but it does not impact the order of the precision value

[2018-06-26 20:08] jfkirk commented on #74
K is deeply impactful to precision values. For example, here is Precision from LightFM:

[code]

[2018-06-26 20:10] vladimir-sevastyanov commented on #74
Can I use ratings from 1 to hundreds and thousands, or it must be binary: 0/1?
In my case I have rating as the number of licenses purchased by a company (user). Some companies have a few licences, but a few of them have hundreds and even thousands.
Is it possible that precision is calculated incorrectly because rating is not binary? Do I have to convert rating into a binary value?

[2018-06-26 21:33] jfkirk commented on #74
Both (LightFM and TensorRec) precision calculations should tolerate any positive value just fine. If you try binarizing your data before passing it to the precision functions, and it changes the result, please let me know.

My immediate suspicion is that the low precision you saw (which was almost exactly 100x lower than the other precisions) is the result of a higher K value (1000, which is 100x

[2018-06-26 22:01] vladimir-sevastyanov commented on #74
Yes, I confirm.
I just performed one more experiment: used the same sparse matrix to build TensorRec and LightFM models, and calculated precision for each model for the same k=10.
TensorRec precision=0.000216
LightFM precision=0.23
I suggest you to compare results in debug mode, and find out the difference

[2018-06-26 22:03] vladimir-sevastyanov commented on #74
**My code:**

import numpy as np
import tensorrec
from tensorrec.eval import fit_and_eval, eval_random_ranks_on_dataset

from dataLoad.datasets import get_data #, get_book_crossing

train_interactions, test_interactions, user_features, product_features = get_data(min_positive_score=1,
                                                                                  min_interactions_per_product=2,

[2018-06-27 16:23] vladimir-sevastyanov commented on #74
When I used the suggested above variant
model_tr = tensorrec.TensorRec(loss_graph=tensorrec.loss_graphs.WMRBLossGraph())
I've got the error message "InvalidArgumentError (see above for traceback): 0-th value returned by pyfunc_0 is int32, but expects int64", which I described in the previous issue.

Default RMSE parameter does not generate the error:
model_tr = tensorrec.TensorRec()

[2018-06-27 20:52] hodaraad opened #75 "Is it possible to use TensorRec for a session-based implicit feedback scenario?"
I want to work on a session-based (rather than user-based) recommender system where we don't track users and just have session-ids along with a sequence of visited items in each session (similar to methods studied in this paper []). In particular, I'm interested in getting a system similar to GRU4Rec, which is a session-based system based on RNN model. Is it possible at all with TensorRec?

In gen

[2018-06-29 00:23] hodaraad opened #76 "more about applying TensorRec on session-based implicit feedback data"
Thank you for your prompt and thoughtful answer on my previous question regarding session-based scenario (I could not find an option for reopening an issue and hence I opened a new one). So, if we ignore the order of items in the session,

- is it still possible to implement some of those pairwise ranking loss functions introduce in this paper[https://arxiv.org/pdf/1511.06939.pdf] in TensorRec?

-

[2018-06-29 13:57] jfkirk commented on #76
Hey @hodaraad ! I'm glad to be of help.

For pairwise loss functions, we've already implemented WMRB which is similar to BPR and TOP1 -- it samples a batch of negative items and compares those to the positive items for that user. The transform is a bit different (BPR uses log loss, WMRB is a hinge) but you may be able to re-tool the WMRB graph to do either. In fact, we should add BPR to the availa

[2018-07-02 14:22] jfkirk commented on #73
@vladimir-sevastyanov I believe I've gotten to the bottom of the error you are seeing. It is likely the result of the interaction of various packages in your environment -- given that you're in Python 3 with Numpy 1.14, there's no reason py_func should be returning int32s in your environment... but it is. That said, we should be able to get around the problem by strictly defining the return type o

[2018-07-02 14:43] jfkirk commented on #73
0.25.4 has been released. Can you install it and tell me if this problem persists?

[2018-07-02 15:30] vladimir-sevastyanov commented on #73
I've tested the updated TensorRec on keras_example.py. I don't see the issue anymore.

[2018-07-02 15:31] jfkirk commented on #73
Great! Closing.

[2018-07-02 15:31] #73 closed

[2018-07-03 16:52] jfkirk commented on #76
hey @hodaraad ! I'm going to close this now. Feel free to open a new issue if you have any more Qs.

[2018-07-03 16:52] #76 closed

[2018-07-05 15:55] cwyalpha opened #78 "add dynamic feature for user and item to interaction?"
I'm building a TV recommend system. User feature is user_ID+Location, item feature is item_ID+tag+release_time. And in my system, item in different tags may have different time sensitive. For example, users will not watch old news, but old movies will be OK.

When user click/watch a item, I want to add past 5 clicks/watches item IDs to user feature, and (watch_time - item_release_time) to item fea

[2018-07-10 19:46] jfkirk commented on #78
Hey @cwyalpha ! Great question.

Adding this kind of dynamic information is a bit of a departure from how TensorRec was constructed, but you may be able to make it work.

You could add the past 5 clicks/watches as user features. If you did this, your user feature size would be (num_user_ids + num_locations + num_item_ids). This would allow the system to learn how recently selected content could im

[2018-07-11 12:32] pierrehabte2017 opened #79 "number of tastes in model"
Hi !
I did not get what is the interpretation of the number of tastes in the model.
Does the n_taste impact how user embeddings are learned ?

[2018-07-11 12:42] jfkirk commented on #79
Hey Pierre -- thanks for your question.

The number of tastes defines the number of embeddings learned per user. If `n_tastes=5` then each user will have 5 separate representations/embeddings.

You can read more about the thinking behind it here: https://arxiv.org/pdf/1711.08379.pdf

Hope that helps! I'll leave this issue open for a few days if you have more questions.

[2018-07-11 12:54] pierrehabte2017 commented on #79
Thanks a lot for the insights and the quick reply 🔥 I will check it out.

[2018-07-11 14:45] jfkirk commented on #74
hey @vladimir-sevastyanov -- I've been unable to reproduce the problem, and I got your LinkedIn note. I'm going to close this issue for now.

[2018-07-11 14:45] #74 closed

[2018-07-13 12:43] #78 closed

[2018-07-13 12:43] #79 closed

[2018-07-18 03:00] Vbubblery opened #82 "It's hard for user who first use TensorRec"
All of the examples are coming from the data generated. Could you post an example which use own dataset to train it?

[2018-07-18 12:40] jfkirk commented on #82
Hey @Vbubblery !

I agree that learning to use TensorRec is difficult right now. There are a few efforts underway to improve the examples and documentation.

There are a few examples that do not use generated data:
https://github.com/jfkirk/tensorrec/blob/master/examples/attention_example.py
https://github.com/jfkirk/tensorrec/blob/master/examples/keras_example.py

These examples use the MovieLens

[2018-07-18 12:47] Vbubblery commented on #82
Yes, I already checked it, but it needs to transform the data. We cannot directly use Numpy array or pandas to do it. So, if we want to use our own data, we need to go to

to find how to transform the data, it's not a good behavior for apprentices.

[2018-07-24 07:18] 2mrdaya opened #83 "How to recommend items for new user. User is not in training data."
Hi @jfkirk,

How to recommend items for new user. User is not in training dataset? and how to show new similar items to user. Please provide example with sample data.?

[2018-07-24 10:24] 2mrdaya opened #84 "make_initializer Error"
I am getting the below error
![image](https://user-images.githubusercontent.com/14895891/43132353-23db2950-8f59-11e8-992b-6482d57e8f35.png)
My code is given below
`import numpy as np
import tensorrec
import pandas as pd
import scipy
from scipy.sparse import csr_matrix
# Build the model with default parameters
model = tensorrec.TensorRec()

# Generate some dummy data
interactions, user_features, it

[2018-07-24 12:09] jfkirk commented on #84
Hi @2mrdaya -- This error your running in to comes up when `predict` is called before the model has been `fit`.

Given that you're running in a Jupyter notebook, sometimes the namespace can get polluted from cells executing out of order. Try re-starting the kernel and running the cells in order and let me know if the problem persists.

Also, in the code snippet you provided:
```model.fit(ratings_s

[2018-07-24 14:11] #64 closed

[2018-07-24 14:11] #72 closed

[2018-07-25 05:29] 2mrdaya commented on #84
Thanks James :+1:
I need one more help to take it on the production. My problem is how to recommend items for new user (having features) but not have any interaction? This user is not in the training data. Should i need to create a function to find similar user first or this library has the functionality?

[2018-07-25 12:40] jfkirk commented on #84
Great! I'm going to close this issue, and will help you out with the new user question on the other issue.

[2018-07-25 12:40] #84 closed

[2018-07-25 13:13] jfkirk commented on #83
Hey @2mrdaya ! You can recommend items for users who were not in the training dataset -- just provide their features as the `user_features` argument to whichever `predict` method you are using. There is no constraint that a user had to be in the training data to be predictable.

Does that help?

[2018-07-25 14:47] jfkirk opened #86 "Add AbstractKerasPredictionGraph"
A neural net for prediction would break some of the assumptions about the relationship between user and item reprs.

This could allow a DNN to directly learn relationships between user/item features when coupled with the FeaturePassThroughRepresentationGraph.

[2018-07-27 12:35] jfkirk commented on #83
Hey @2mrdaya -- I'm going to close this issue. If you have more questions, please open a new one. Thanks!

[2018-07-27 12:35] #83 closed

[2018-07-27 13:35] jfkirk opened #87 "'Euclidian' -> 'Euclidean'"
🤦‍♂️

[2018-07-27 14:00] mboudiaf opened #88 "Interaction matrix"
Hi James,

First of all thank you for this amazing work you did. It surely simplifies my life a lot building my recommandation system. Just one question about the interaction matrix and more specifically about the values one can plug inside. For instance, if I have a matrix with values from -1 to +5 (integers only), and want to the system to understand that:  -1 = disliked, 0 = no interactions wit

[2018-07-29 13:55] pierrehabte2017 commented on #88
I had the exact same question. With the binary system (1 if liked, 0 otherwise) we are losing information (the items that the person did not like for instance). Would it make sense to use 1 for liked, 0 for no interaction, -1 if disliked in the interaction matrix ?

[2018-07-30 14:45] pierrehabte2017 commented on #88
Thanks a lot @jfkirk 🥇 !

[2018-08-02 12:25] jfkirk commented on #88
Great! I'm going to close this issue for now. Feel free to open a new one with more questions.

[2018-08-02 12:25] #88 closed

[2018-08-09 14:16] okeremd opened #89 "Fail to allocate bitmap with plot_movielens"
Hi James,

Due to not closing the plots, my memory could not handled the 1000 epochs on plot_movielens. Fortunately I could solve the problem with help of this thread: https://stackoverflow.com/a/37336028

You just need to take https://github.com/jfkirk/tensorrec/blob/master/examples/plot_movielens.py#L64 out of the loop and add  ` plt.cla()` line after `plt.savefig(file)`

[2018-08-11 03:48] zhou1xiang2 opened #90 "news recommendation representation"
It's a cool repository. Thanks for your effort.

I'm new to recommendation, and I built a news recommendation model with linear representation, cosine prection, and WMRB loss.  While I have a  relevance problem in my demo, and I don't know whether it's the right place to ask.

But anyway, here is the question:

I have 60,000 news with category (with tfidf representation), and 10 fake users(each us

[2018-08-14 18:56] hodaraad opened #91 "Is it possible to save the trained model as a Tensorflow frozen graph?"
I saw in another issue the discussion around saving/loading the trained model and you added those abilities to the code. But, it seems they are based on Python pickle object. I'm wondering if you can give me some insight about how to save the trained graph as a TensorFlow graph as I need to use it in another non-Python environment (our production is in Ruby and the only way I can think of transfer

[2018-08-15 12:38] jfkirk commented on #91
Hey @hodaraad ! When you call "save_model()", one of the two output files is `tensorrec_session.cpkt`. This file contains the graph as well as the state of the variables. If you want to re-construct the model outside of Python, you could load in this TensorFlow session.

The `.pkl` file only contains the Python wrappers around the graph, so you won't need those once you're in Ruby.

I haven't work

[2018-08-15 12:54] jfkirk commented on #90
Hey @zhou1xiang2 ! Thanks for the kind words.

I'd love to help you figure out whats going on here. Could you show me the code snippet where you build your TensorRec model, and the code snippet where you call `fit`? Extra helpful would be seeing a few rows of your `user_features` and `item_features`.

Thanks!

[2018-08-15 17:10] hodaraad commented on #91
Thanks a lot for your prompt and helpful answer. That's great then. I'll try it with a simple model and will test it on our Ruby end and will let you know. Only once I figure out how to convert our data format to TensorRec' one.

[2018-08-15 17:15] jfkirk commented on #91
@hodaraad That part may be tricky too -- there are quite a few inputs to the graph that will need to be in place. `input_utils.py` contains methods I use to manipulate the sparse input data into iterator objects, which may be helpful.

Good luck! Let me know if I can help.

[2018-08-20 08:45] letotefrank opened #92 "what's the different between LightFM and tensorrec?"
hi,jfkirk！Can you answer this question in detail?
I have used LightFM to build a recommendation system. Is it necessary to use this(tensorrec)?

[2018-08-22 16:11] hodaraad opened #93 "How to use TensorRec for a session-based scenario?"
Hi James,

Sorry I have another question for using TensorRec for the session-based case.
As you may know in session-based recommendation systems, the assumption is we cannot track users and we only work at the session-level. So, each new session is assumed to be a new user.

Given a session that has progressed to some level (some items have already been visited in that session), I wanted to predic

[2018-08-23 20:08] hodaraad commented on #93
Thank you so much James for taking time to answer my question. What I had pictured first was something simpler which would be to get item_embeddings for all visited items of the test session, get their average and take this as user representation for that session. Then, find similar items from the training set to that average item-embedding vector.

Then, I thought maybe instead of just the above

[2018-08-23 20:13] hodaraad commented on #93
oh, also forgot to ask: Do you need to provide the interaction matrix at the prediction when trying to recommend similar items for a given user and item? I thought the interface would be to get a trained mode, and a pair of user/item features (or just their ids in case we don't have any content features for them) and get a ranked list of items. Does the system get any use of other interacted items

[2018-08-25 00:31] pt opened #94 "Dependency on datasets causing issue"
I'm new to python and trying to run the examples. In doing so, I ran into an issue installing a dependency:

[code]

[2018-08-28 13:39] jfkirk commented on #94
Hey @pt -- I'm not familiar with the `datasets` package and its not an explicit TensorRec requirement. Do you know what component is trying to install `datasets`?

[2018-08-28 15:55] hodaraad commented on #93
Thank you so much James for taking time to answer. It does make sense. So, after training, providing that user_features in your example, should give similar items for item_0 first, then items that are similar to both item_0 and item_5, and so on. I don't know how much the list of similar items as we proceed in the session will be different, or how much this aggregated way of representing sessions

[2018-08-28 17:09] pt commented on #94
Perhaps I'm confused. It looks to me like the datasets library is a dependency for all of your examples. The library is easy to install, but the examples don't work. I should've been more clear in my message above.

More generally, I'm struggling to get this working for me practically (being new to TF/ML). It would be great to see a simple sample app that uses tensorrec to expose a REST api, and d

[2018-08-28 18:15] jfkirk commented on #94
Ahh -- the examples import a module within the project called `test.datasets` which is distinct from the python package `datasets`. It looks like the stack trace you posted is from an attempted installation of the python package.

You should be able to install all the dependencies you need using the `requirements.txt` and `requirements_examples.txt` files.

`pip install -r requirements.txt`
`pip i

[2018-08-28 18:29] jfkirk commented on #92
Hey @letotefrank

LightFM and TensorRec are similar packages. I used LightFM quite a bit before writing TensorRec.

LightFM is a great system for learning linear embeddings from user/item metadata. The project is mature, and the package is quite effective at problems where a linear embedding is sufficient.

TensorRec gives you the option to customize your recommender systems embedding (aka represe

[2018-08-28 18:30] #92 closed

[2018-08-29 06:05] alimaan2935 opened #95 "Thread safe"
I am building a recommendation system with tensorrec on a tornado server. When i run the system sync, it works fine. But when i run this async tornado server, i get an error saying:
`    ValueError: Fetch argument <tf.Operation 'make_initializer_3' type=MakeIterator> cannot be interpreted as a Tensor. (Operation name: "make_initializer_3"
    op: "MakeIterator"
    input: "TensorSliceDataset_3"

[2018-08-29 10:41] daohoangson opened #96 "How to design a system with low density?"
I have read through (most of) the issues and have the recommendation up and running but the result is not as good as I hoped. I have a few questions looking for your answer. Below is info about my current dataset:

[code]

I train with this code, which is similar to your example:

[code]

However, my hardware is not powerful enough so I had to picked samples from the full dataset instead of runnin

[2018-08-29 13:02] jfkirk commented on #96
Hey @daohoangson ! Thanks for asking about this.

To your questions:
1. I think your average number of features is not the issue. What could be the issue is how they are handled. Are the feature values binary 1/0 or continuous?
2. For a more representative recall sample, you may want to increase your user sample size. In your position, I would increase the sample size as far as my machine were cap

[2018-08-29 13:32] jfkirk commented on #95
Hey @alimaan2935 -- Thanks for reporting! Is there a full stack trace for that error? The lack of thread safety may be within TensorRec or within the TensorFlow ops themselves, so I'd like to isolate the culprit.

[2018-08-29 15:25] daohoangson commented on #96
Thank you for getting back to me.

1. All of my features (user+item) are binary (0 and 1)
2. I will try increasing the sample size to see if it improves (will report back the result). The density of the interactions matrix is 0.0013 (2234372 non zeros in the (79770, 21093) matrix, my values are non negative btw)
3. That is understood.

I will also switch to WMRBLossGraph as you suggested and repor

[2018-08-29 20:33] daohoangson commented on #96
Hmm, I'm unable to complete the model fitting with WMRBLossGraph. The python process is killed everytime. I have tried n_sampled_items=2/20/200/2000, it always get killed about 30s after "Beginning fitting". Can you give any pointer? @jfkirk?

I'm testing on a VM with 4vCPU/16GB RAM.

[2018-08-29 20:35] pt commented on #94
Will do, thanks.

[2018-08-29 20:35] #94 closed

[2018-08-29 20:54] daohoangson commented on #96
Running again with 16vCPU/32GB RAM: it got further but still getting killed after 2 epochs:

[code]

[2018-08-29 21:38] daohoangson commented on #96
Thanks for the tip, I will try that.

[2018-08-29 22:38] alimaan2935 commented on #95
Thanks for quick reply. This is the the complete stack trace:
`[I 180830 08:31:34 tensorrec:589] Processing interaction and feature data
[E 180830 08:31:34 base_events:1259] Future exception was never retrieved
    future: <Future finished exception=ValueError('Fetch argument <tf.Operation \'make_initialize
3\' type=MakeIterator> cannot be interpreted as a Tensor. (Operation name: "make_initialize

[2018-08-30 03:14] eggie5 opened #97 "WMRB vs WARP"
WMRB is supposed to be WARP adapted for a batch setting right? According to my movie lens tests, the difference seems a bit large:

10D Embeddings, 10 Epochs:
WARP p@10: 0.110
WMRB p@10: 0.032

Test: https://gist.github.com/eggie5/863133def026a1dc0bf43c4ba3faaefd

Any idea why?

[2018-08-30 04:15] daohoangson commented on #96
I have been able to trim the user features and item features for the model fit to run in complete:

[code]

For the evaluation, I picked 1k and 10k users. Ran eval twice and ended up with the same recall@10 of `0.0488`.

I checked the recommendation manually and it appears the items returned are the popular ones (item with lots of interactions) and they are not actually related to user features. T

[2018-08-30 04:41] daohoangson commented on #96
The previous run was done on my laptop. Just got my hand back on the server, I'm running the fit model with user_batch_size=800, the verbose log now looks better. Currently at epoch 2 and loss decreased from 9 -> 7 already.

[2018-08-30 05:54] daohoangson commented on #96
So the less value is about 7 at the end of model fitting. And recall@10 is `0.0503`. Apparently using larger `user_batch_size` yields better model?

[2018-08-31 15:46] jfkirk commented on #97
Hey @eggie5 ! Thanks for trying this out. There are a few factors at play here:

WMRB isn't _exactly_ WARP, though they're quite close. The difference don't explain the whole difference you're seeing, but the significantly higher variance of the rank estimator in WARP could be impactful when training for such a short period (only 10 epochs). This difference flattens out a bit over a longer period

[2018-08-31 15:56] jfkirk commented on #96
@daohoangson The difference between `0.0503` and `0.488` might not be significant enough to say that larger `user_batch_size` yields a better model.

20 epochs may be a bit too short to learn much nuance for the recommendation. I'd recommend increasing it, if that's feasible.

Regarding popularity, I've run in to this same problem. You can try turning `biased=False` when building the model and try

[2018-09-02 02:35] eggie5 commented on #97
Thanks for the thoughtful reply. Indeed, I failed in removing all the dependent variables from the test. Particularly, the LFM model was training on **more** data as you pointed out. I updated my test with `min_rating=4.0` and now the two tests are converging around the same value.

LightFM     WARP:  p@10: 0.071
TensorRec WMRB: p@10: 0.067

[2018-09-04 08:40] rragundez opened #98 "Explanation of loss function"
Doesn't this return a tensor and not a real number? How can the optimzer work with that?

https://github.com/jfkirk/tensorrec/blob/220c51af656b8930abebf01641e2a936952c45c6/tensorrec/loss_graphs.py#L179

[2018-09-05 07:37] daohoangson commented on #96
I have some interesting data after fitting the model dozen of times:

| epochs | recall@10 for training dataset | recall@10 for test dataset |
| --- | --- | --- |
| 1 | 0.1830187142740457 | 0.3662953988132286 |
| 2 | 0.27352707746481286 | 0.4972308268123855 |
| 3 | 0.3199103676358411 | 0.5631426097188966 |
| 4 | 0.3426408854173336 | 0.5869633480813036 |
| 5 | 0.33708967513935 | 0.5905252102026333

[2018-09-05 12:46] jfkirk commented on #97
Hey @eggie5 -- to disable the user/item features, you can just throw away the user/item features that come back from the dataset generator.

TensorRec still expects user/item features, so you can then pass in identity matrices of shape [n_users, n_users] and [n_items, n_items].

[2018-09-07 11:31] Qingsai opened #99 "how to use GPU1 or use two GPUS"

[2018-09-18 15:27] Kara035 opened #100 "how to replace the test datasets with other datasets?"
Hi,
I get the error **ModuleNotFoundError: No module named 'test.datasets'**
Would you be able to help where I can load the test.datasets?
I want to know what is the format I need to prepare for the dataset.
Is there any tutorial that you can provide to prepare the input dataset to load?
The get_book_crossing dataset I get from http://www2.informatik.uni-freiburg.de/~cziegler/BX/
is a zip file con

[2018-09-18 18:24] Kara035 opened #101 "dataset transformers for continuous features"
Hi,
The examples for get_book_crossing() converts all the features into categorical data.
What if some features need to be considered as continuous?
For example, for the age, will it be possible to transform it as a continuous field instead of a binary for each age? If so, what function I should use for the 'subcat_vectorizer' in the transformers?
Please correct me if I misunderstood the dataset.p

[2018-09-19 14:05] Kara035 opened #102 "Visualizing the result and evaluation"
Hi,
I'm trying to build the model on tensorrec, it will be very great if I can get a deeper understanding of the model.
Will it be possible to have some visualization of the learning rate, or loss funciton?
Also, if I want to know the rank of items for certain user, is there any function I can use to extract the information? Or I will need to use the predict_rank to get all ranks for all users and

[2018-09-20 14:27] jfkirk commented on #101
Hey @Kara035 -- you understood dataset.py correctly. I turned ages categorical for simplicity's sake, but it could be a good idea to make the values continuous.

Transforming "age" in to a continuous variable can be done using different transformers from scikit. If you're so inclined, you could tweak the book crossing method to try this out. This continuous feature would be consumed by TensorRec j

[2018-09-20 14:27] #101 closed

[2018-09-20 14:29] jfkirk commented on #100
@Kara035 Are you still running in to this `ModuleNotFoundError`? If so, how did you install TensorRec? (pip, clone of the github repo, etc?)

[2018-09-20 14:35] Kara035 commented on #100
Hi,
No. I'm good for this one now. I found the dataset.py which I can switch to my own dataset.
Thank you so much for checking.
Kara

[2018-09-20 14:39] jfkirk commented on #97
@eggie5 That's definitely a big constraint -- I've mostly been working on CPU environments because, unless I'm using deep representation graphs, there was no appreciably benefit to applying GPUs. Do you know of any good way I could try to dodge this densification?

[2018-09-20 14:40] jfkirk commented on #100
Great! I'm going to close this issue, too, then. Feel free to open a new issue with anything else that comes up!

[2018-09-20 14:40] #100 closed

[2018-09-20 14:56] Kara035 commented on #102
Hi,
for the predict_rank, since the user_features are transformed into index and tuples in the input. Would you please give me any suggestion to map and retrieve the user_features based on the original text values?
Thank you so much,
Kara

[2018-09-20 21:23] Kara035 opened #103 "fit and save model"
Hi,
I see the configuration in the fit_and_eval(), but not in TensorRec().
Does the model automatically get saved after I run the fit_and_eval()? So when I call the model.predict_rank(), it will call the trained model?
What if I want to retrain the model for a different dataset?
Thank you so much for sharing this project. It is very helpful to have the codes ready for implementation based on all t

[2018-09-21 04:30] kj-lai opened #104 "Different number of components for user and item representation"
Hi, in TensorRec.TensorRec() is there an option to specify the number of components for user and item features separately?

For example, my user_feature is about 5 columns, whereas item_feature is about 15 columns, what n_components should i use? 5, 10, 15, or more than 15 ?

2nd Question:
In the keras_example, for generating baseline, is there a feature or method to do in in batches? because my i

[2018-09-25 16:51] Kara035 opened #105 "map user id and item id back in rank or features"
Hi,
Could you please advise if there is a way to map back the row and columns to each user for each item?
It will be very helpful if  I can see what is the value behind all the index of the pipeline to understand how what items are recommended for which user. Only the ranks, user_features, item_features are all based on index, which is very hard to interpret.
Thank you so much,
Kara

[2018-09-26 18:49] Kara035 commented on #102
Hi,
I can't call the function in the model by tensorrec.fit or tensorrec.fit_partial.
Is this the correct way to call?
[code]
Following are the errors.
AttributeError: module 'tensorrec' has no attribute 'fit'
AttributeError: module 'tensorrec' has no attribute 'fit_partial'
Besides, how can I add the relevant metric in the call?
Thank you so much,
Kara

[2018-09-26 19:07] Kara035 opened #106 "predict scores for specific user on specific products"
Hi,
In the intro_post.md
There's an example to predict scores for specific user.
`# Predict scores for user 75 on items 100, 101, and 102
predictions = model.predict(user_ids=[75, 75, 75],
                            item_ids=[100, 101, 102],
                            user_features=user_features,
                            item_features=item_features)`
However, I got an error on running the cod

[2018-10-04 03:25] kj-lai opened #107 "How do you create Item Features which includes Indicator & Metadata?"
Let's say for example:
interaction matrix = 1000 users x 20000 items
density=0.5, pos_int_ratio=1, num_user_features=3. num_item_features=10, n_features_per_user=3, n_features_per_item=10

Question 1:
How would you generate the item features so that it's format will be 20000 x 20010 sparse matrix like in lightfm's item feature builder?

Question 2:
Should I normalize the item features for each ite

[2018-10-10 12:34] jfkirk commented on #107
Hey @kj-lai !

I'm not familiar with LightFM's item feature builder. I have used this to generate dummy features shaped like that, though:

[code]

Normalizing features is a good idea if you are using linear representations and have lots of metadata features. This helps prevent wild predictions for items that have many non-zero metadata features.

Hope this helps! I'll leave this issue open for a

[2018-10-10 12:37] jfkirk commented on #106
Hey @Kara035 ! That example is from an old blog post, and the API has changed since then. Now, you can the predictions for specific users and items by only passing the features for those users and items to `predict()`.

Something like:
[code]

[2018-10-10 12:37] #106 closed

[2018-10-10 12:57] jfkirk commented on #104
Hey @kj-lai -- the number of components you select is a hyperparameter to optimize: try out different values and see which perform the best. They have to be the same for users and items because the prediction function needs to consume two representations of the same size.

For the keras example, have you tried setting the `user_batch_size` parameter for `fit()`?

[2018-10-10 13:03] jfkirk commented on #103
Hey @Kara035 -- the models are stateful so, after falling `fit_and_eval` the model you passed in will be trained.

[code]

[2018-10-10 13:03] #103 closed

[2018-10-10 15:29] Kara035 commented on #103
Hi,
Thanks for the reply.
Would it be possible to continue training the model instead of a one time train? Let say if I have new records coming in, and want the model to continue learning. How would I do that?
Thank you in advance for all the support.
Kara

[2018-10-10 15:31] jfkirk commented on #103
Hey @Kara035 -- that is how it works by default. Repeated calls to `fit()` for a given model will continue training on top of the existing model state.

[code]

[2018-10-11 02:33] kj-lai commented on #104
Thanks for your reply

Q1: What happens if I set my number of components more than the feature i have? let's say `n_component=20` when my features is only 5

Q2: the `eval_random_ranks_on_dataset()` is from `tensorrec.eval` section to generate random guesses, but it does not offer `user_batch_size` option. As for `fit()`, yes, i can do it in batches.

[2018-10-11 02:50] kj-lai commented on #107
Thank for your reply, this is very helpful, I'm gonna close this issue now.

[2018-10-11 02:50] #107 closed

[2018-10-11 14:58] jfkirk commented on #104
Q1: It would be no problem to have more components than features -- that would be an "overcomplete" situation, like an "overcomplete" auto-encoder. For some problems, that is perfectly appropriate.

Q2: Ah, you're right -- `eval_random_ranks_on_dataset()` doesn't have the ability to do batching. You could get it down to workable size by sampling users from your interactions/features to pass in to

[2018-10-12 05:59] #104 closed

[2018-10-16 14:18] #97 closed

[2018-10-21 17:57] Jesontheg6 opened #110 "Tensorrec environment issue"
@jfkirk thanks for building tensorrec. I tried runing the basic example code, but I faced this issue. I have read some of the issues but none of it solved the problem. I even uninstalled my tensorflow to install the TensorFlow 1.7.0. so that its compatible. But it still throw the same error. Hope you can help.

`Traceback (most recent call last):
  File "tensorrec.py", line 2, in <module>
    impo

[2018-10-22 14:58] jfkirk commented on #110
hey @Jesontheg6 ! Can you describe how you installed TensorRec? And are you running the exact example code from the GitHub landing page?

[2018-10-22 20:52] Jesontheg6 commented on #110
Hey @jfkirk Yes I am running the exact example code from the GitHub landing page. And I also did pip install tensorrec

[2018-11-07 15:05] #87 closed

[2018-11-12 15:33] jfkirk commented on #110
Hey @Jesontheg6 -- I've been trying to reproduce this issue but haven't been able to so far.

Could you tell me more about your environment? What version of python are you on? Can you dump the contents of `pip freeze` for me?

[2018-11-15 18:28] elgalu opened #113 "Upgrade tensorflow dependency"
How tight is tensorrec to this `1.7.0` tensorflow version?

https://github.com/jfkirk/tensorrec/blob/fc6d76dda0398cb65bc1e6ea740e9f2e160aa81a/setup.py#L21

Would it be possible to relax the dependency, e.g. >=1.7.0,<1.10 ?

That would probably require using a TravisCI matrix or tox to test against multiple versions though.

[2018-11-16 15:48] jfkirk commented on #113
Hey @elgalu ! Yes, that is a good idea. I'll take some time to see if the relaxed dependency breaks anything.

[2018-11-16 20:29] jfkirk commented on #113
Merged #114 which lets any TF >= 1.7 run TensorRec.

I noticed that the tests are significantly slower in TF 1.12, which merits looking in to further.

[2018-11-20 11:23] MKhere opened #115 "Typo in example check_movielens_losses.py"

[2018-11-20 15:10] jfkirk commented on #115
Hey @MKhere - thanks for reporting!

`Euclidean` is the correct spelling, and all of TensorRec has been updated with the correct spelling. but this hasn't been released yet. If your copy of `check_movielens_losses.py` is from GitHub master but you're on TensorRec 0.25.9 locally, you'd run in to a naming mismatch.

[2018-11-21 17:09] jfkirk commented on #115
Released 0.26.0 which has the correct spelling.

[2018-11-21 17:09] #115 closed

[2018-11-21 17:10] jfkirk commented on #113
I've release 0.26.0 which has the dependency range -- closing.

[2018-11-21 17:10] #113 closed

[2018-11-21 17:12] jfkirk commented on #110
Closing for now -- feel free to open a new issue if this problem persists.

[2018-11-21 17:12] #110 closed

[2018-11-23 08:04] teetwoex opened #116 "Is it possible to add a new user with interactions to a trained model and receive recommendations?"
I have been playing with TensorRec for the last few days and am very impressed! Thank you for your hard work on this!

**Question:**
As far as I understand it is possible to input a new user into a trained model and receive recommendations/predictions for items based on the user features. Is it possible to also input the interactions for the new user as well? I may be misunderstanding but it seems

[2018-11-26 06:27] armando-fandango opened #117 "update for numpy 1.15 and scipy 1.1"

[2018-11-27 02:31] jfkirk commented on #116
Hey @teetwoex ! Great question, and thank you for providing your reasoning and context.

You're on the right path and the intuitions you've outlined are largely correct: it's not possible to _train_ from interactions for a user that you did not have at training-time, but you may be able to meaningfully predict from them.

For your system, there are a couple paths you could go down:

You could use

[2018-11-28 05:17] jaiswalvineet opened #118 "Not able to instlal in window 7 machine |"
I have Annaconda3 installed, Python 3.6 but not able to install tensorrec module, I tried multiple times, here the error

!pip install tensorrec
-----------------------------------------------------------------------------------------------------------

Collecting tensorrec
Collecting scipy==0.19.1 (from tensorrec)
  Using cached https://files.pythonhosted.org/packages/52/67/d9ef9b5058d4a9e3f0ae64

[2018-11-28 13:18] jfkirk commented on #118
It looks like the issue is with the Scipy installation. Can you please try running `pip install scipy==0.19.1` and tell me if you see a similar error?

This will likely be solved by updating the Scipy dependency: https://github.com/jfkirk/tensorrec/issues/117

[2018-11-28 23:58] gallmerci opened #119 "Calculate Normalised Discounted Cumulative Gain Error"
I get the following error when running `fit_and_eval` from `tensorrec.eval`:

https://github.com/jfkirk/tensorrec/blob/65fefe4437c8974b39cc9ab56b9769ed9eb70ffa/tensorrec/eval.py#L81

Looking at the source code and the definition of the discounted cumulative gain, I think that the calculation of k_mask is not correct for the application here, because it is calculated by using the data array of a di

[2018-12-05 17:32] jaiswalvineet opened #120 "Getting error when loading on flask | Session issue"
I am getting session management issue when try to use it in flask application, can you please help me

Sample code structure

[code]

[2018-12-05 18:06] jfkirk commented on #120
Hey @jaiswalvineet ! Thanks for reporting this. What is the purpose of the
`tf.reset_default_graph()` inside of `get_reco()`? This is likely the culprit. Is the call to `model.predict()` the line that is failing?

[2018-12-06 04:13] jaiswalvineet commented on #120
"POST /invocations HTTP/1.1" 500 291 "-" "AHC/2.0"
File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/op_def_library.py", line 350, in _apply_op_helper
g = ops._get_graph_from_inputs(_Flatten(keywords.values()))
File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/ops.py", line 5637, in _get_graph_from_inputs
_assert_same_graph(original_graph_element, grap

[2018-12-06 07:53] jaiswalvineet commented on #120
Seems tensorrec do something about session, which override default one, here the code says that tensorrec predictor do some magic

Traceback (most recent call last):
File "/usr/local/lib/python3.5/dist-packages/flask/app.py", line 2292, in wsgi_app
response = self.full_dispatch_request()
File "/usr/local/lib/python3.5/dist-packages/flask/app.py", line 1815, in full_dispatch_request
rv = self.handl

[2018-12-06 14:15] jfkirk commented on #120
Hey @jaiswalvineet -- Calling `tf.reset_default_graph()` after loading the model will blow away the graph and create a new one. I've reproduced locally and this will then cause the error you're seeing when you call predict() because the reset graph does not have the model.

If you remove the call to `tf.reset_default_graph()` do you see the same error?

[2018-12-06 14:36] jfkirk commented on #119
Hey @gallmerci ! Thanks for reporting.

What is the shape of your user_features, item_features, and interactions?

[2018-12-06 15:04] gallmerci commented on #119
Hey @jfkirk,

I have the follow shapes:

[2018-12-06 15:36] jaiswalvineet commented on #120
I removed the tf.reset_default_graph() bus still same error, seems the flask app does persist the graph, it's strange that its working if I directly run it but does not work if I call it from flask app, if its running one time for you from flask then refresh it on browser, you will get the error, if not then please share your flask app ...thanks in advance

[2018-12-09 01:44] baophamtd commented on #82
I too agree that if there's a clear example on how to use raw data with tensorrec, it would be great.
Certainly, everyone has different types of raw data, but if there's a standard format for tensorrec so that everyone can follow, I think it'd be easier for beginners (like myself) to jump start.
On a side note, I currently have a raw data file under this format:
[code]
Each line is created with `u

[2018-12-09 08:20] jaiswalvineet opened #121 "How to productionize the code | Any recommendation"
Can you please help me to productionize the model, here the difficulty I have faced

1. TF serving with ngnix (recommended)  : Because it store model in pickle file so not sure how to provide pickle file path as model, can you please help me
2. Flask App with ngnix : It loose graph reference after few calls, random behavior and seems its too hard to provide same offering as TF serving

please help

[2018-12-11 13:23] luiscastro193 commented on #82
+1. I normally use a collaborative filtering algorithm but it consumes a lot of resources. It would be cool to compare it with this lib but I only have "userId", "productId" and "rating" and I don't know how to properly transform it.

[2018-12-11 13:31] luiscastro193 commented on #82
Also... It looks like ratings are transformed into 1 or 0. Is this necessary? Can't it be a range between 0 and 1?

[2018-12-11 14:10] jfkirk commented on #82
Agreed on all counts -- when I wrote up the examples I thought things were more self-explanatory than they are, and I see that now. I'm going to write up a "getting started with TensorRec" that takes us from data input through model construction and fitting.

@luiscastro193 regarding ratings, TensorRec won't change the ratings for you, but whether-or-not you should convert your ratings to a given

[2018-12-11 17:40] kevglynn commented on #119
Also having this issue, pointing to an issue in the NDCG method:

[code]

[2018-12-11 20:35] gallmerci commented on #119
@kevglynn Can you provide some example dataset where this happens? I can't reproduce this error at the moment...
I understand in what circumstances this error occurs but I don't understand how this circumstances are possible at all :)

[2018-12-12 06:09] arshabhi commented on #121
Hi, Thanks for pointing out the issue @jaiswalvineet , I am also having trouble with tensorflow serving of the model. Any help would be appreciated.
Thanks in advance

[2018-12-12 11:31] luiscastro193 opened #123 "Negative interactions with WMRB"
This is actually a question about the theory behind the framework but I hope that's ok.

I have some experience with recommendation systems and it has become clear to me that in practice RMSE loss functions aren't good for them, so I really like the WMRB loss function. But it looks like it works only for implicit (positive) feedback. If an user have explicitly expressed that he dislikes an item, c

[2018-12-12 15:56] gallmerci commented on #120
@jaiswalvineet I got the same problem. The tf graph is not thread safe and needs to be globally defined and always reused when doing the prediction. Here is how I solved it (actually solution is coming from https://github.com/keras-team/keras/issues/2397#issuecomment-306687500):

I inserted a global model variable, loaded the model and stored the graph after model loading:
[code]

and then in ever

[2018-12-12 16:05] gallmerci commented on #121
Regarding question two, I responded to your problem in #120. I hope this fixes your problem. But I am also very interested in running TensorRec in production. Especially in performance optimizations. Currently solution with flask and TensorRec using `predict_ranks` method gives me a latency of 150-300ms even on larger compute instances on AWS.
Use case is computing a recommendation for a single us

[2018-12-13 23:49] teetwoex commented on #116
@jfkirk thank you so much for your response it is really helpful. I guess my only question so far is that in your example you are only dealing with a user that has visited a few items. It seems like for every item the user has interacted with we need a row in the users matrix and a row in the interactions matrix. In the case of a user who has say interacted with thousands of items what would you d

[2018-12-16 04:56] kevglynn commented on #119
@gallmerci sorry for the delay. It's only happening for me with a specific dataset, which I can't share (proprietary). I will try to come up with an example that reproduces...

[2018-12-19 10:14] luiscastro193 commented on #123
Totally. I don't have the knowledge to write said function yet but that would indeed solve the problem.

[2019-01-03 20:19] gfawcett22 commented on #117
+1 the inability to use the scipy wheel for installation is preventing me from using tensorrec

[2019-01-06 17:05] jfkirk commented on #117
(apologies for the delay, I've been on vacation)

This is my top priority now. I'm looking in to updating these reqs and will get an update out ASAP.

[2019-01-06 17:38] jfkirk commented on #119
Hey all -- any luck with reproducible examples? I'd love to get to the bottom of this, but I've been poking at it and haven't been able to reproduce.

[2019-01-06 17:39] jfkirk commented on #123
Great! Closing now -- feel free to open new issues if you have more questions.

[2019-01-06 17:39] #123 closed

[2019-01-06 18:35] #117 closed

[2019-01-06 18:35] jfkirk commented on #117
Fix merged -- will go out with next release

[2019-01-07 06:29] jaiswalvineet opened #125 "How to run the tensorrec on distributed machines"
I want to execute tensorrec module on distributed machines, seems its only running on single worker instance. Please let me know how to implement palatalization and communication between instances should work out-of-the-box.

If possible please share your thoughts with respect to tensorflow serving and distributed tensorflow.

Thanks in advance,
Vineet

[2019-01-07 13:52] ahmetbardiz commented on #53
Hi @jfkirk
I am also having the same problem with @mijamo . I have applied your suggestions such as different loss function, normalizing the matrices but nothing has changed. The prediction always gives the sequence of items incrementally

`
model.predict(user_features=user_features[0], item_features=item_features[0:5])
result: [[0.02865639, 0.02865639, 0.02865639, 0.02865639, 0.02865639]]
`
`
mod

[2019-01-08 21:45] rdowd003 commented on #53
Hello @jfkirk!
Like everyone else I could use some assistance with what the inputs are. Can you elaborate on what the "user_feature" sparse matrix is? I am working on a project that could really use this implementation, so i'm wondering if you can tell me if i'm on the right track: It seems, to me, like it represents one side of the decomposed interaction matrix, as in:

interactions ~= user_featu

[2019-01-23 13:14] arshpreetsingh opened #126 "I am having following issue while I am generating my own Data"
[code]
Am I doing something wrong with User-Data or interactions?

[2019-01-23 14:03] jfkirk commented on #126
Hey @arshpreetsingh -- what are the shapes of your `user_features` `item_features` and `interactions` that you're passing in to TensorRec?

[2019-01-23 14:21] arshpreetsingh commented on #126
all are 1-d arrays.

[2019-01-24 19:55] mkhizeryounas opened #127 "Export tensor flow model"
Is there any way that I can export the model in tensorflow model, As this library is a wrapper for tensorflow, I am sure there should be a way but I can not find any resource.

[2019-01-25 12:17] arshpreetsingh commented on #126
Thanks, this is solved, I was confusion Two different models while trying out the things, Closing the issue.

[2019-02-03 01:55] pyup-bot opened #128 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-02-03 02:09] #128 closed

[2019-02-13 05:44] kevglynn commented on #34
@jfkirk just getting into this. Want to make sure, just aiming for reordering the order of the actual batches?

Assuming 3 batches:
 - epoch 1 evaluates on `batch[0]`, `batch[1]`, `batch[2]`
 - epoch 2 evaluates on `batch[2]`, `batch[0]`, `batch[1]`
 - and so on

is that correct?

[2019-02-15 04:22] mohammad1234 opened #130 "How to get user and item embeddings from a trained model"
This might be a noob question but how to get user and item embeddings from a trained model ?

[2019-02-15 09:34] luiscastro193 opened #131 "Autoencoder model"
I came across the same issue as #93 and #116. Investigating further, I found this really interesting approach which would also solve that typical use case: https://arxiv.org/abs/1901.00415

Would you consider adding an autoencoder model?

[2019-02-19 16:20] maickhenriquesantos opened #132 "I'm getting this error in my code output"
Traceback (most recent call last):
  File "C:/Users/Maick Henrique/PycharmProjects/recsys-experiments/codes/testeTensor.py", line 118, in <module>
    test_recom()
  File "C:/Users/Maick Henrique/PycharmProjects/recsys-experiments/codes/testeTensor.py", line 102, in test_recom
    recall_k=10, precision_k=10, ndcg_k=10)
  File "C:\Users\Maick Henrique\AppData\Roaming\Python\Python36\site-packages\

[2019-02-21 14:29] ajhepburn opened #133 "Fitting larger models, local datasets"
I am currently using TensorRec for my masters project, and have been following the MovieLens guide on getting started with the library.

My dataset is a CSV file in which each row represents a tweet made by a user and potentially useful item metadata for a content-based system. The issue is that a single week's worth of data consists of roughly 48,000 entries for which there is a one-to-one intera

[2019-02-22 14:17] skylacking004 commented on #66
Hey James, great program. I am having the same error Would I have to then downgrade tensorflow to 1.7.0?:

Raw ratings example:
['userId', 'movieId', 'rating', 'timestamp']
[0, 0, 4.0, '964982703']
80668 train ratings, 20168 test ratings
Training collaborative filter
2019-02-22 08:54:14.956117: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow

[2019-02-24 19:25] adiIspas opened #134 "What is the math behind Tensorrec?"
Hi @jfkirk,

I want to know what is the math behind Tensorrec. I seen in your code two papers [[http://ceur-ws.org/Vol-1448/paper4.pdf](http://ceur-ws.org/Vol-1448/paper4.pdf)] and [[http://ceur-ws.org/Vol-1905/recsys2017_poster3.pdf](http://ceur-ws.org/Vol-1905/recsys2017_poster3.pdf)] but I'm not sure what/how exactly Tensorrec optimize user/item representation/weights? About the first paper you

[2019-02-26 14:31] jfkirk commented on #133
Hey @ajhepburn -- to help debug this, can you give me the following information:
Shape of the interactions [rows, cols, #values]
Shape of the user features [rows, cols, #values]
Shape of the item features [rows, cols, #values]
Are you using the `user_batch_size` parameter for the `fit()` method?

[2019-02-26 14:32] jfkirk commented on #132
Hey @maickhenriquesantos -- to help debug this, can you give me the following information:
Shape of the interactions [rows, cols, #values]
Shape of the user features [rows, cols, #values]
Shape of the item features [rows, cols, #values]

[2019-02-26 14:43] jfkirk commented on #131
Hey @luiscastro193 -- great question!

Implementing an autoencoder based recommender would be possible once I've finished https://github.com/jfkirk/tensorrec/issues/86

Once we have this working, a user's previous interactions could be fed in as features and autoencoder shaped nets could consume this information to make predictions and learn representations.

I'm going to leave this open as a remi

[2019-02-26 14:45] jfkirk commented on #130
Hey @mohammad1234 ! You can get user/item embeddings from a trained model using the `predict_user_representation()` and `predict_item_representation()` methods.

[code]

[2019-02-26 14:45] #130 closed

[2019-02-26 14:49] jfkirk commented on #127
Hey @mkhizeryounas -- there is a `save_model` method on the model object that exports the TensorFlow session. Is this what you're looking for?

https://github.com/jfkirk/tensorrec/blob/master/tensorrec/tensorrec.py#L870

[2019-02-26 14:54] #126 closed

[2019-02-26 15:28] ajhepburn commented on #133
@jfkirk Hi, I've a feeling this may be on my end.

I've switched to running your keras Book Crossing example, just as is and about 5 epochs in, Python kills my process. Tensorflow backend and GPU usage seems to be fine, no idea why there seems to be this memory leak, was wondering if you've came across anything similar.

Here's what is dumped when I run in:

[code]

[2019-02-26 16:01] ajhepburn commented on #133
I did want to add one thing, how would I go about using TensorRec for items which had a limited amount of interactions?

My dataset is a collection of user posts, with the intention of recommending similar posts based on content/item metadata such as hashtags used etc or based on similarity between users through other metadata. Since I imagine the interaction matrix would be massively sparse as th

[2019-02-26 16:29] ajhepburn commented on #133
Spoke too soon,

I trained with a `user_batch_size` of 128 at 10 epochs and get the following:

[code]

This is still with the Book Crossing dataset.

[2019-03-11 11:57] vasubandaru commented on #93
This Airbnb blog by Mihajlo on finding similar listings has some ideas that might help

Blog: https://medium.com/airbnb-engineering/listing-embeddings-for-similar-listing-recommendations-and-real-time-personalization-in-search-601172f7603e

Paper: https://www.kdd.org/kdd2018/accepted-papers/view/real-time-personalization-using-embeddings-for-search-ranking-at-airbnb

[2019-03-12 14:18] jfkirk opened #135 "Update embedding-based representations to use embedding_lookup"
...among other TF API updates

[2019-03-18 11:22] #134 closed

[2019-03-20 11:01] martende opened #137 "question: new user_interactions"
Hi and thanks for the great project, may be the question was already here but i can not find it . I
whold like to implement prediction for some new user with some known interactions on known products . Currently all model functions accept `user_features`  `item_features` which are identity matrixes for the simple case :

I can extract the info for some existing user :

`model.predict(user_features

[2019-03-21 15:35] jfkirk commented on #137
Hey @martende ! Is this the situation you're in:

1. You train a TensorRec model for a large number of users. The user_features and item_features are identity matrices.
2. You get a new user who has interactions.
3. You want to predict recommendations for the new user based on their interactions.

Is this correct?

[2019-03-22 11:05] martende commented on #137
Yes this is correct.

[2019-03-22 14:54] jfkirk commented on #137
@martende TensorRec does not support this directly -- this new user, in this case, was not present during training so the model could not learn a user representation to make recommendations for them.

You can get around this with some logic wrapping TensorRec to create a user representation based on the interactions. It could look something like this psuedocode:

[code]

Does this make sense?

[2019-03-22 15:59] martende commented on #137
Thanks jfkirk,

Do you mean that I can construct new `user_representation` just as a sum of all `item_representations` for all interactions without any norming at the end ? I have got this intuition but i have no idea why it should work.

I have seen that implicit  https://github.com/benfred/implicit project is solving some linear equation for construction user representation for some straitforvar

[2019-03-22 16:47] jfkirk commented on #137
Hey @martende -- you shouldn't need to normalize the synthetic user_representation because the vector's magnitude is irrelevant when ranking. If you normalized it, you'd get the same ranking back. If you care about the precise predicted values, though, then you may want to normalize.

You also may want to explore weighting the inputs, though. If one interaction has weight `3` and another interacti

[2019-03-24 13:35] #137 closed

[2019-03-31 08:16] bluemmb opened #138 "Serve the model with Tensorserve ?"
I am new to the world of tensorflow and this library is really good and understandable. Thanks @jfkirk.

I have read almost the whole code and I know the general steps it is taking to make the model and the predictions. But where I am stuck is that how can we serve the trained model with Tensorserve ?

Actually I don't know how to determine the inputs for the serving purpose.

Any input on this wo

[2019-04-01 04:05] mabodx opened #139 "TensorFlow version problem"
Here is the code I copy from the sample:
https://colab.research.google.com/drive/1VPBOMyc9GEUknlK1hgflLHtquaLK3IRg

I got the following error. I think it is the problem with the tensorflow version, the version on the colab is 1.13.0 I think
[code]

[2019-04-01 12:15] jfkirk commented on #139
Hey @mabodx -- could you confirm what TF version Colab is using? TF 1.13.0 only came out as release candidates (https://github.com/tensorflow/tensorflow/releases), and TF 1.13.1 should be working (https://github.com/jfkirk/tensorrec/blob/master/.travis.yml). Once we know the version, we can chase down the bug.

[2019-04-01 17:47] mabodx commented on #139
you can see my screenshot and the code in my codelab here is the link.
https://colab.research.google.com/drive/1VPBOMyc9GEUknlK1hgflLHtquaLK3IRg

![image](https://user-images.githubusercontent.com/4045116/55348206-7ef91e00-546b-11e9-8d5b-d4a03620c24b.png)

[2019-04-01 20:40] jfkirk commented on #139
Hey @mabodx -- I just realized that a fix has already been merged for this: https://github.com/jfkirk/tensorrec/pull/136

The current `master` version should work, but it has not yet been released. I will do a batch release and that will fix the issue for you.

Thanks!

[2019-04-01 20:48] mabodx commented on #139
@jfkirk Sure, Thanks so where can I check the new release?

[2019-04-01 21:35] mabodx commented on #139
Currently I am use `tensorrec-0.26.1`

[2019-04-02 02:33] jfkirk commented on #139
I've just released 0.26.2, which should include the fix. Try updating and let me know what you find.

[2019-04-02 04:25] mabodx commented on #139
Sure be good. thanks

[2019-04-02 12:41] #139 closed

[2019-04-02 19:18] jfkirk opened #140 "TF 2.0 Update"
This is a major refactor -- esp. around saving etc but threading so much of the API out may help adapt to Estimators / other mainline Tf-supported frameworks.

[2019-04-03 00:58] mabodx opened #141 "how to get `ratings.csv` file"
For the `examples/getting_started.py`
https://github.com/jfkirk/tensorrec/blob/b73977b69723110c3d79e0d62ad8a1db43dc7a5d/examples/getting_started.py#L16

how to get `ratings.csv` file which is in line 16 of above file.

[2019-04-03 13:30] jfkirk commented on #141
You can download the files here: https://grouplens.org/datasets/movielens/

There's a blog post going through this example here: https://towardsdatascience.com/getting-started-with-recommender-systems-and-tensorrec-8f50a9943eef

I'm going to leave this open until I've added the links to the example file.

[2019-04-04 14:08] jfkirk commented on #141
Done. Thanks!

https://github.com/jfkirk/tensorrec/commit/3e7dfe8962e8d9f78fc9032dfd86ebf421dd3505

[2019-04-04 14:08] #141 closed

[2019-04-04 19:33] mabodx commented on #141
Nice. Thanks so much.

[2019-04-05 17:44] bluemmb commented on #138
After reading many documentations and googling around I came up with this solution that I can specify .get_next() tensors as input tensors and feed them for prediction. something like this ( I have summarized the creating iterators code here ) :

[code]

and I also set :

[code]

The complete code is [here](https://gist.github.com/bluemmb/58e6db50580e002248ccce33195abd10)

It is working fine with

[2019-04-08 13:06] jfkirk commented on #138
Hey @bluemmb -- I like this approach! I don't see anything that jumps out as a problem at serving time. Did you run in to issues getting this to work that we should call out?

There definitely needs to be a more elegant way to do this within the TensorRec API. I'll tackle that as part of the general TF2.0 refactor I'm working on.

[2019-04-08 14:06] bluemmb commented on #138
Hey @jfkirk.

Despite the problem above ( that is working fine so far with the solution I have written ).

Other important problem is that it seems that Tensorserve does not support py_func officially, but I am using IBM Watson machine learning environment for running the served model and it seems they have customized it to run the py_func. ( watson only supports Tensorflow 1.11 )

But it might be

[2019-04-09 15:07] houtzager opened #142 "TFLite export - Input and output nodes"
Hi there,

I am trying to export a model to a TensorFlow Lite or preferably CoreML. For both, it is required to first convert the model to a frozen_model (.pb format). To do this I have already managed to extract a .pbtxt file from the session graph, which is required for the `tensorflow.python.tools.freeze_graph` function. The issue I am currently facing is that I need to specify the output_node_

[2019-04-16 13:56] jfkirk commented on #142
Hey @houtzager :

The inputs are these four placeholders and the three iterators below:
https://github.com/jfkirk/tensorrec/blob/master/tensorrec/tensorrec.py#L273

There are many different output nodes for different purposes. The most straightforward of the outputs is here:
https://github.com/jfkirk/tensorrec/blob/master/tensorrec/tensorrec.py#L662

If you go through the other `predict*` API meth

[2019-04-18 04:13] Jyang772 commented on #137
Hi @jfkirk, could you explain why the new predicted user representation is the sum of the predicted item representations of items the new user has interacted with?

[2019-04-19 08:45] EricC91 commented on #96
Hi @daohoangson,

I am confronted with almost the same results as you...
Did you finally find parameters that work well?

Thank you

[2019-04-21 02:31] daohoangson commented on #96
@EricC91 I have had redone my input matrices so it's denser and switched to use `BalancedWMRBLossGraph`. The result is good enough for our use case.

[2019-04-27 13:43] houtzager commented on #142
Hi @jfkirk ,

First of, thanks for your response.

Assuming you only need to specify a list of user and item features I find it a bit strange that for example properties like alpha and an interaction iterator are input nodes. Aren’t these variables meant for training the model instead of making the predictions?

After trying to get this export to work for quite some time I’ve decided to move on to

[2019-05-11 06:28] mabodx opened #144 "How to use tensorrec to do online serving?"
Find most of the models run offline, How to use tensorrec to do the online serving?

[2019-06-06 18:08] meownoid commented on #125
Also interested in this question, specifically can we achieve user parallelism using tensorrec?

[2019-06-14 01:20] tessjansen95 opened #145 "Error: Pack node (stack_24) axis attribute is out of bounds: 1"
Hi! My apologies if this has already been marked as an issue, I am getting this error every time I run getting_started.py:

`  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "
2019-06-13 18:34:15.847329: W ./tensorflow/core/grappler/optimizers/graph_optimizer_stage.h:241] Failed to run optimizer ArithmeticOptimizer, stage RemoveStackStridedSliceSameAxis node gradients_3/Spars

[2019-06-15 19:48] tessjansen95 commented on #145
After playing around with it a bit, it appeared Tensorflow version 1.13 was causing the issues. I downgraded to 1.12 (after [finding this discussion](https://www.bountysource.com/issues/69430304-training-error-failed-to-run-optimizer-stage-removestackstridedslicesameaxis)) and that seemed to have solved the issue. Hopefully this will help other people as well who are experiencing a similar issue!

[2019-06-15 19:48] #145 closed

[2019-06-27 19:06] mbw314 opened #146 "Validation techniques"
I'm experimenting with TensorRec after using LightFM for some time, and I have a question about how metrics are computed.

In LightFM, one can split the set of interactions into train/test sets. To compute a metric for a given user on the test set, say, the test interaction items are scored for that user and ranked among all items. Then these rankings are used to compute the desired metric. Only r

[2019-07-06 22:30] arturo-ojeda commented on #142
Hi @houtzager

Interested in this topic. Did you find a different solution to export to TF Lite or a whole different framework to achieve the same result?

Thanks.

[2019-07-09 01:29] yun-zhou-rb commented on #66
In tensorrec.py around line 175, this change should make the code work on Tensorflow 1.14.0
[code]

[2019-07-22 16:01] mpradilla commented on #138
Have you found any alternative to replace the use of py_func ? This part generates and error when trying to use a model for tensorflow serving...

`sample_items_partial = partial(sample_items, replace=self.loss_graph_factory.is_sampled_with_replacement)
        self.tf_sample_indices = tf.py_func(func=sample_items_partial,
                                            inp=[tf_n_items, tf_n_users, se

[2019-07-23 22:40] mbw314 commented on #146
In case it is helpful to anyone else, here's a simple workaround to evaluate a model on a large dataset (1.3M users and 30K items in my case).

1. step through the users in batches, e.g., 10000 at a time, and call `predict_rank` with the batch of users and all items (this is very fast with a GPU)
2. for each user in the batch, extract the ranks the items with known positive interactions
3. assembl

[2019-07-23 22:40] #146 closed

[2019-07-23 23:01] mbw314 opened #147 "Trouble saving models"
I'm trying to export a model trained on a dataset with the following features:
#users: 700K
#user features: IDs only
#items: 30K
#item features: IDs only
#interactions: 56M

The model uses the default architecture except for WRMB loss, and was trained for only 5 epochs.

I've tried to export the model in 2 ways.

1. Use `TensorRec.save_model`. The problem here is that apparently the model is enorm

[2019-07-24 04:24] bluemmb commented on #138
Hi @mpradilla. Unfortunately no. Because I had not problem serving it as I have described above, actually I didn't put time on it. But I'm not good enough with tensorflow to say it is possible or not.

[2019-07-25 23:11] mbw314 commented on #147
To add a bit more context, finding a way to use `TensorRec.save_model` would be great, but I'm ultimately interested in obtaining a TensorFlow `SavedModel` representation of the model to use for scoring (i.e., the equivalent of calling `predict`).

One option is calling the `tf.saved_model.simple_save` function. Similar to #142, this requires one to specify the input and output nodes of the graph

[2019-07-27 02:43] davidjels opened #148 "How to exclude user's liked items from the predictions?"
I am getting too many of the user's already-liked items in the recommendations. One or two (of ten) would be reasonable but I am getting up to all ten being from the user's already liked items.  I have 1,000 items in my input data so there should be enough other items to recommend.

Obviously, just recommending back to users their already favourite items is not of much use to them. I think part of

[2019-07-31 21:29] mbw314 commented on #148
In my experience, it is completely expected that a well-trained collaborative filtering model will highly recommend the items known to be preferred by a user (one could argue that this is in fact a requirement for any well-trained model).

One common solution is to simply filter out such items before the recommendations are presented to the user. I've seen this implemented in production systems--f

[2019-08-06 17:21] mbw314 commented on #147
A quick follow-up:

The huge model size seems to a result of how TensorFlow handles numpy data; see this link: https://www.tensorflow.org/guide/datasets#consuming_numpy_arrays

I had been using training data in sparse matrix format, which gets converted to numpy arrays here: https://github.com/jfkirk/tensorrec/blob/3e7dfe8962e8d9f78fc9032dfd86ebf421dd3505/tensorrec/input_utils.py#L22

One way arou

[2019-08-06 17:21] #147 closed

[2019-08-15 17:35] felixhe8 opened #149 "Unexpected outcomes from custom prediction graph"
Very glad to find this module for building recommender systems. I was trying to apply this to a slightly different scenario where the interaction outcome is binary, either 0 or 1. So I designed a prediction graph using sigmoid and defined a loss function as log-loss (or cross-entropy).

Below are the codes for custom graphs.

[code]
Then I used the custom graphs to create a system and generate som

[2019-08-19 01:05] Patlon opened #150 "How can i get similar users?"
i can get similar items using get_similar_items API method, but if i want to get similar users, how can i do that?

[2019-08-22 18:15] progen opened #151 "Tensorrec environment issues"
Hi! I'm currently encountering this error when i run the code:
Traceback (most recent call last): File "tensorrec.py", line 2, in <module> import tensorrec File "/Users/tensorrec.py", line 5, in <module> model = tensorrec.TensorRec() AttributeError: module 'tensorrec' has no attribute 'TensorRec'

I noticed another user has raised this issue before but there was no solution.  My python versions ar

[2019-09-05 14:41] maleeham commented on #151
try installing tensorflow==1.7.0

[2019-09-07 19:12] progen commented on #151
tried installing tensorflow1.7.0 but still have the same issues

[2019-09-07 22:13] maleeham commented on #151
After installing tensorflow 1.7.0 try this command:

pip install tensorrec --ignore-installed

I had the same problem and this worked!

[2019-09-08 12:02] progen commented on #151
Still does not work.  Seems that after i did that it reverted tensorflow to tensorflow1.14

:pip install tensorrec --ignore-installed
Installing collected packages: wheel, gast, google-pasta, six, numpy, absl-py, grpcio, setuptools, markdown, werkzeug, protobuf, tensorboard, tensorflow-estimator, wrapt, keras-preprocessing, astor, h5py, keras-applications, termcolor, tensorflow, scipy, tensorrec
S

[2019-11-13 04:31] quannm3110 opened #153 "Inferences' issue"
Hi,

Is there anyone knowing how to run prediction in batch? I got run-out-of-memory problem since my data is way too big (5 million users x 5.000 items).

Thanks in advance.

[2019-11-13 06:27] quannm3110 commented on #153
I found the way to work around with it.

    from scipy.sparse import csr_matrix

    # Prediction in batch
    batch_size = 1000
    start_batch = 0
    while start_batch < n_users:

        # min() ensures that the batch bounds doesn't go past the end of the index
        end_batch = min(start_batch + batch_size, n_users)
        prediction_batched = cf_model.predict(
              csr_matrix(us

[2020-01-18 16:14] melaniab opened #154 "How to make Tensorrec have stable results"
Hello,

I am currently using TensorRec for my master's thesis project, and have been following the MovieLens guide on getting started with the library. I am trying to test different features (embeddings) for content-based recommendations. However, the results that I have so far are not stable, meaning I get different results when I rerun the same piece of code with the same data.

For example, wit

[2020-01-23 00:50] jfkirk commented on #154
Hi @melaniab -- I expect that what your seeing is because of different random seeds, as you suspected.

I haven't tried this, but you could try setting the seed directly to the TensorFlow session before creating the TensorRec object:
[code]

Let me know if that works for you.

[2020-01-30 16:35] Datanerd1234 opened #155 "Temporal dynamics"
Hi James,

Thank you for all the work in creating Tensorrec. I have implemented the hybrid recommendation model mentioned in the below blog.
https://towardsdatascience.com/getting-started-with-recommender-systems-and-tensorrec-8f50a9943eef

I was wondering how does this Hybrid model take care of temporal effects on User item interactions. For example, does it give more importance to most recent mo

[2020-02-04 20:54] timgates42 opened #156 "Fix simple typo: predictiones -> predictions"
There is a small typo in tensorrec/recommendation_graphs.py.
Should read `predictions` rather than `predictiones`.

[2020-02-04 21:10] #156 closed

[2020-03-05 13:32] akanellop commented on #151
Hello,
I also ran the same code and the same error occured. I noticed that I have saved the code in a file named "tensorrec.py", when I changed that there was no issue with the import statement.
So if you named your file tensorrec.py, try changing it.
I hope that was the problem for you too.

[2020-07-10 02:01] pactera-admindev-wangyong opened #159 "How to write kNN by TensorRec?"
I am currently using TensorRec for my hotel recommendation project.
How to write kNN by TensorRec?

[2020-09-07 14:57] RiccardoDiGuida opened #161 "Error on dimensionality"
Hi, I am facing a problem with dimensionality when I build the model using `DeepRepresentationGraph` as per your example

Specifically

[code]

Please bear in mind that `train_interactions`, `user_features` and `item_features` are all `scipy.sparse.coo_matrix`

The error I get is the following

[code]

I am using TF 1.15 and tensorrec 0.26.2

[2020-09-19 09:23] lxin618 opened #162 "Error - tensorflow has no attribute`get_default_session()`"
Hi there, just installed the tensorrec package, tried to run the script, i got the error: if tf.get_default_session() is not None:
AttributeError: module 'tensorflow' has no attribute 'get_default_session' , in `session_managment` file, searched online, couldn't find anything, just posted here, wondering if i can please get some help.. python version: 3.7.8, tensorflow: 2.2.0, tensorrec: 0.26.2, K

[2020-09-20 18:55] NumberPiOso commented on #82
I would want to know if this has been worked out, or if maybe if it could be marked with a label of _help is wanted_.

@jfkirk

[2021-01-22 17:23] abhiHunts opened #163 "module 'tensorflow' has no attribute 'get_default_session'"
I installed tensorrec in brand new Virtualenv and stuck here.

**\lib\site-packages\tensorrec\session_management.py in get_session()**
10     if _session is None:
---> 11         if tf.get_default_session() is not None:
     12             _session = tf.get_default_session()
     13         else:

**AttributeError: module 'tensorflow' has no attribute 'get_default_session'**

installed tensorflow

[2021-01-22 17:55] abhiHunts commented on #162
try this

import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

[2021-03-17 09:50] wisonwang commented on #162
i fixed it as below:

https://github.com/wisonwang/tensorrec/commit/590c7f63b42bdeb9c0b5be43759ee3a10844cdf1

refrence :  [migrate tf1->tf2](https://www.tensorflow.org/guide/migrate)

[2021-06-21 09:35] pranav318 opened #166 "About users Features matrix"
Hello ,
Great work on Tensorrec . For my use case i have both items as well as users features so can i initialize these Features to the hybrid model instead of initializing it with identity matrix.

[2021-06-21 11:06] dkolokotronis-artefact commented on #163
I have the same issue. Is there any chance that you found something?

[2021-07-06 08:10] dkolokotronis-artefact commented on #154
Hello I am also trying to solve this issue! I tried tf.random.set_seed(1), but it didn't work. Any suggestions? thank you

[2021-08-17 01:23] DLPerf opened #167 "Performance issues in the program"
Hello,I found a performance issue in the definition of `create_tensorrec_dataset_from_tfrecord` ,
jfkirk/tensorrec/blob/master/tensorrec/input_utils.py,
[tf.data.TFRecordDataset(tfrecord_path).map](https://github.com/jfkirk/tensorrec/blob/80690737ac039a5b41fc99e67372c4f67d8cfc51/tensorrec/input_utils.py#L126) was called without **num_parallel_calls**.
I think it will increase the efficiency of you

[2021-10-23 02:39] samhiggs commented on #163
I'm getting this issue as well. I tried with version Tensorflow 1.15 and version 2.3..
Any suggestions?

[2022-01-20 16:27] ChrisDelClea commented on #163
@jfkirk , great package and good work. It is very inuitive to use.
Problem is the session handling. TF 2.0 has changed.
Could you please update tensorec to make it compatable with TF 2.0?

Best regards
Chris

[2022-01-20 16:30] ChrisDelClea commented on #162
@https://github.com/wisonwang, Was this merged already? Does a package exist?

related to: https://github.com/jfkirk/tensorrec/issues/163

[2022-04-04 15:34] pankaja0285 opened #172 "Question - install of tensorrec only once"
- `pip install tensorrec `
          takes forever to complete install
- do I need to install each time, on say, a kaggle notebook

Please respond at the earliest as I need to use tensorrec for a recommender system